<md-content style="padding-top: 80px;" ng-controller="venueWizardController as vm">
<wizard on-finish="finishedWizard()" indicators-position="top"> 
    <wz-step wz-title="Basic Details">
    <md-content>
		<div layout="row" layout-wrap layout-margin>
        <h2 class="md-title">Basic Details</h2>
        </div>
        <form name="basicDetails">
        	<fieldset ng-disabled="false">
        		<div layout="row" layout-wrap layout-margin>
        			<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Name</label>
        				<input ng-model="basicDetails.name" type="text">
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Type</label>
        				 <md-select ng-model="basicDetails.type">
            			<md-option ng-repeat="type in ::vm.lookup.venueType" value="{{type}}">{{type}}</md-option>
      				</md-select>
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Address</label>
        				<textarea ng-model="basicDetails.address" rows="3" type="text"></textarea>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Short Description</label>
        				<textarea ng-model="basicDetails.description" rows="3" type="text" md-maxlength="500"></textarea>
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Primary Contact No</label>
        				<input ng-model="basicDetails.primaryContactNo" type="number">
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Secondary Contact No</label>
        				<input ng-model="basicDetails.secondaryContactNo" type="number">
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Primary Email ID</label>
        				<input ng-model="basicDetails.primaryEmailId" type="email">
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Secondary Email ID</label>
        				<input ng-model="basicDetails.secondaryEmailId" type="email">
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Website</label>
        				<input ng-model="basicDetails.website" type="text">
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>FB Page Link</label>
        				<input ng-model="basicDetails.fbPageLink" type="text">
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>City</label>
        				 <md-select ng-model="basicDetails.city">
            			<md-option ng-repeat="city in ::vm.lookup.venueCity" value="{{city}}">{{city}}</md-option>
      				</md-select>
      				</md-input-container>
        		</div>
        	</fieldset>
        </form>
        <div layout="row" layout-margin>
        <div flex></div>	
        <md-button class="md-raised" disabled>Back</md-button>
        <md-button class="md-primary md-raised" wz-next>Next</md-button>
        </div>
    </md-content>    
        <!--<input type="submit" wz-next value="Continue" />-->
    </wz-step>
    <wz-step wz-title="Event Area Details">
     <md-content>
        <div layout="row" layout-wrap layout-margin>
        <h2 class="md-title">Event Area Details</h2>
        </div>
        
       <div layout="row" layout-margin>
        <div flex></div>
        <md-button class="md-primary md-raised" ng-click="vm.createEventArea();">Add EventArea</md-button>
        </div> 
      			
       <div layout="row" layout-margin layout-wrap md-whiteframe="4"> 
       	<!--<md-toolbar class="md-table-toolbar md-default" flex="100">
  <div class="md-toolbar-tools">
    <span>Event Areas</span>
  </div>
</md-toolbar>-->

<md-table-container flex="100">
  <table md-table md-progress="promise">
    <thead md-head md-order="" md-on-reorder="" class="lp-wizard-thead">
      <tr md-row>
        
        <th md-column>Area Type</th>
        <th md-column>Area Name</th>
        <th md-column>Max Accomodation</th>
        <th md-column>Price</th>
        <th md-column>Tax(%)</th>
        <th md-column>Full A/C</th>
        <th md-column>Modify</th>
        <th md-column>Delete</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="eventArea" md-select-id="$index" md-auto-select ng-repeat="eventArea in vm.eventAreas">
        <td md-cell>{{eventArea.type}}</td>
        <td md-cell>{{eventArea.name}}</td>
        <td md-cell>{{eventArea.accomodation}}</td>
        <td md-cell>{{eventArea.price}}</td>
        <td md-cell>{{eventArea.tax}}</td>
        <td md-cell>{{eventArea.fullAc}}</td>
        <td md-cell><md-button class="md-icon-button" ng-click="vm.modifyEventArea($event,$index,eventArea)"><md-icon class="material-icons">border_color</md-icon></md-button></td>
        <td md-cell><md-button class="md-icon-button" ng-click="vm.deleteEventArea($event,$index)"><md-icon class="material-icons">delete_forever</md-icon></md-button></td>
      </tr>
      <tr md-row  ng-if="vm.eventAreas.length === 0">
      <td md-cell colspan="8" style="text-align: center;">No Event Areas Added</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
</div>

<!-- Rooms Details Table -->

<div layout="row" layout-margin>
        <div flex></div>
        <md-button class="md-primary md-raised" ng-click="vm.createRoom();">Add Rooms</md-button>
        </div> 
 
      			
       <div layout="row" layout-margin layout-wrap md-whiteframe="4"> 
       	<!--<md-toolbar class="md-table-toolbar md-default" flex="100">
  <div class="md-toolbar-tools">
    <span>Event Areas</span>
  </div>
</md-toolbar>-->

<md-table-container flex="100">
  <table md-table md-progress="promise">
    <thead md-head md-order="" md-on-reorder="" class="lp-wizard-thead">
      <tr md-row>
        
        <th md-column>Room Type</th>
        <th md-column>Number Of Rooms</th>
        <th md-column>Price Per Room</th>
        <th md-column>Tax(%)</th>
        <th md-column>Facilities</th>
        <th md-column>Modify</th>
        <th md-column>Delete</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="room" md-select-id="$index" md-auto-select ng-repeat="room in vm.rooms">
        <td md-cell>{{room.type}}</td>
        <td md-cell>{{room.noOfRooms}}</td>
        <td md-cell>{{room.price}}</td>
        <td md-cell>{{room.tax}}</td>
        <td md-cell>{{room.facilities}}</td>
        <td md-cell><md-button class="md-icon-button" ng-click="vm.modifyRoom($event,$index,room)"><md-icon class="material-icons">border_color</md-icon></md-button></td>
        <td md-cell><md-button class="md-icon-button" ng-click="vm.deleteRoom($event,$index)"><md-icon class="material-icons">delete_forever</md-icon></md-button></td>
      </tr>
      <tr md-row  ng-if="vm.rooms.length === 0">
      <td md-cell colspan="7" style="text-align: center;">No Rooms Added</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
</div>

<!-- Rooms Details Table Ends -->

<!--<div layout="row" layout-margin layout-wrap layout-align="start center">
	<div flex-xs="100" flex-gt-xs="100" layout="row" layout-align="start center" layout-wrap>
		<h2 class="md-title" flex-xs="100" flex-gt-xs="40">Select Services You Provide</h2>
	<wan-select flex-xs="100" flex-gt-xs="60" placeholder="" source-data="::vm.lookup.eventAreaServices" selected-data="vm.selectedAreaServices" select-changed=""></wan-select>
    
	</div>
	<div flex-xs="100" flex-gt-xs="100">
		<md-chips ng-model="vm.selectedAreaServices" readonly="::vm.readonly" md-removable="::vm.removable"></md-chips>
	</div>	
</div>-->

<div layout="row" layout-margin layout-wrap>
	<h2 class="md-title" flex-xs="100" flex-gt-xs="45">Select Services You Provide</h2>
	<md-input-container flex-xs="100" flex-gt-xs="45">	
  <md-select ng-model="vm.selectedAreaServices" multiple= "true" placeholder="You can choose multiple services">
    <md-option ng-value="eventAreaService" ng-repeat="eventAreaService in ::vm.lookup.eventAreaServices">{{ eventAreaService }}</md-option>
  </md-select>
</md-input-container>
<div flex-xs="100" flex-gt-xs="100">
		<md-chips ng-model="vm.selectedAreaServices" readonly="::vm.readonly" md-removable="::vm.removable"></md-chips>
	</div>	
</div>

<div layout="row" layout-margin>
        <div flex></div>	
        <md-button class="md-raised">Back</md-button>
        <md-button class="md-primary md-raised" wz-next>Next</md-button>
        </div>
<!--<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>-->
     <md-content>
    </wz-step>
    <wz-step wz-title="Catering & Decor Details">
    <md-content>
    <div layout="row" layout-wrap layout-margin>
        <h2 class="md-title">Catering & Decor Details</h2>
        </div>
    	<form name="vm.cateringDecorDetails">
        	<fieldset ng-disabled="false">
        		<div layout="row" layout-wrap layout-margin>
        			<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>You Provide Catering Services?</label>
        				<md-select ng-model="cateringDecorDetails.provideCateringServices" required>
            			<md-option ng-repeat="option in ::vm.lookup.genericYesNoOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>You Provide Decor Services?</label>
        				<md-select ng-model="cateringDecorDetails.provideDecorServices" required>
            			<md-option ng-repeat="option in ::vm.lookup.genericYesNoOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Price Per Plate Veg (In Indian Rupees)</label>
        				 <md-select ng-model="cateringDecorDetails.vegPerPlateCost">
            			<md-option ng-repeat="option in vm.lookup.perPlateCostOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Price Per Plate Non-Veg (In Indian Rupees)</label>
        				 <md-select ng-model="cateringDecorDetails.nonvegPerPlateCost">
            			<md-option ng-repeat="option in vm.lookup.perPlateCostOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Starting Price For Bartending (In Indian Rupees)</label>
        				<input ng-model="cateringDecorDetails.bartendingStartsFrom" type="text">
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Starting Price for Inhouse DJ (In Indian Rupees)</label>
        				<input ng-model="cateringDecorDetails.inhouseDjStartsFrom" type="text">
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Starting Price for Inhouse Decor (In Indian Rupees)</label>
        				<input ng-model="cateringDecorDetails.inhouseDecorStartsFrom" type="text">
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<div flex-gt-xs="45" hide-xs></div>
      				
      				<div layout="row" layout-margin layout-wrap layout-align="start center" flex-gt-xs="45" flex-xs="100">
						<div flex-xs="100" flex-gt-xs="100" layout="row" layout-align="start center" layout-wrap>
							<h2 flex-gt-xs="70" flex-xs="100" class="md-title" flex>Cuisines</h2>
							<wan-select flex-gt-xs="30" flex-xs="100" placeholder="" source-data="::vm.lookup.cuisines" selected-data="vm.selectedCuisines" select-changed=""></wan-select>
    						
						</div>
						<div flex-xs="100" flex-gt-xs="100">
							<md-chips ng-model="vm.selectedCuisines" readonly="::vm.readonly" md-removable="::vm.removable"></md-chips>
						</div>	
					</div>
					<span flex-gt-xs hide-xs></span>
					<div layout="row" layout-margin layout-wrap layout-align="start center" flex-gt-xs="45" flex-xs="100">
						<div flex-xs="100" flex-gt-xs="100" layout="row" layout-align="start center" layout-wrap>
							<h2 flex-gt-xs="70" flex-xs="100" class="md-title">Basic Catering Services</h2>
							<wan-select flex-gt-xs="30" flex-xs="100" placeholder="" source-data="::vm.lookup.basicCateringServices" selected-data="vm.selectedBasicCateringServices" select-changed=""></wan-select>
    						
						</div>
						<div flex-xs="100" flex-gt-xs="100">
							<md-chips ng-model="vm.selectedBasicCateringServices" readonly="::vm.readonly" md-removable="::vm.removable"></md-chips>
						</div>	
					</div>
					
        		</div>
        	
        <!-- For Image Uploading -->
        <div layout="column" layout-wrap>
        	<h2 class="md-title" style="margin-left: 16px;">Upload Menu Images</h2>
        	<div layout="row" layout-wrap layout-margin layout-align="start center">
        	<div flex="100">
        		<span style="color: brown" ng-show="vm.cateringDecorDetails.menuImageFile.$error.maxSize">File too large, one image file can be of maximum 256KB</span>
        		<span style="color: brown" ng-show="vm.cateringDecorDetails.menuImageFile.$error.pattern">Only Image Files are allowed to be Uploaded</span>
        		<span style="color: brown" ng-show="vm.cateringDecorDetails.menuImageFile.$error.maxFiles">Maximum of 4 files are allowed</span>
        		<span style="color: brown" ng-show="vm.imageUploadCustomErrorMsg.length > 0">{{vm.imageUploadCustomErrorMsg}}</span>
        	</div>	
        	<input type="file" name="menuImageFile" ngf-model-invalid="invalidFiles" ng-model="vm.uploadedMenuImages" ngf-select="vm.uploadFiles($files, vm.menuImages, 4)" ngf-multiple="true" ngf-pattern="'image/*'" flex="40" ngf-accept="'image/*'" ngf-max-size="256KB" ngf-max-total-size="1MB" ngf-max-files="4"></input>
  			<div>(Max 4 Image Files, Max size 256KB for each File)</div>
  			     
  			</div>
  			<!--Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
  			<div layout="row" layout-fill layout-wrap layout-margin>
  				<div flex-gt-xs="20" flex-xs="30" class="uploaded-img-container" ng-repeat="image in vm.menuImages">
  					<img style="width: 100%;" data-ng-src="{{image}}"/>
  					<md-button class="md-icon-button delete-uploaded-img" ng-click="vm.removeSelectedImg(vm.menuImages, $index)">
					<md-icon class="material-icons md-24" style="color: white;">
						close
					</md-icon>
				</md-button>
  				</div>
  			</div>
        </div>
        </fieldset>
        </form>
        
        <div layout="row" layout-margin>
        <div flex></div>	
        <md-button class="md-raised">Back</md-button>
        <md-button class="md-primary md-raised" wz-next>Next</md-button>
        </div>
    </md-content>    
        <!--<input type="submit" wz-next value="Finish now" />-->
    </wz-step>
    <wz-step wz-title="Policies & Images">
    <md-content>
    	<form name="vm.policyDetails">
        	<fieldset ng-disabled="false">
        		<div layout="row" layout-wrap layout-margin>
        			<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Is OutHouse Catering Allowed?</label>
        				<md-select ng-model="policyDetails.outhouseCateringAllowed" required>
            			<md-option ng-repeat="option in ::vm.lookup.genericYesNoOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Is OutHouse Decor Allowed?</label>
        				<md-select ng-model="policyDetails.outhouseDecorAllowed" required>
            			<md-option ng-repeat="option in ::vm.lookup.genericYesNoOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Is OutHouse Liquor Allowed?</label>
        				<md-select ng-model="policyDetails.outhouseLiquorAllowed" required>
            			<md-option ng-repeat="option in ::vm.lookup.genericYesNoOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Corkage Per Bottle (in Indian Rupees)</label>
        				<input ng-model="policyDetails.corkagePerBottle" type="text">
      				</md-input-container>
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Is OutHouse DJ Allowed?</label>
        				<md-select ng-model="policyDetails.outhouseDjAllowed" required>
            			<md-option ng-repeat="option in ::vm.lookup.genericYesNoOptions" value="{{option}}">{{option}}</md-option>
      				</md-select>
      				<div class="md-errors-spacer"></div>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<div flex-gt-xs="45" hide-xs>		
      				</div>
      				
      				
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Booking Policy</label>
        				<textarea ng-model="policyDetails.bookingPolicy" rows="3" type="text" md-maxlength="1000"></textarea>
      				</md-input-container>
      				<span flex-gt-xs hide-xs></span>
      				<md-input-container class="md-block" flex-gt-xs="45" flex-xs="100">
        				<label>Cancellation &amp; Refund Policy</label>
        				<textarea ng-model="policyDetails.refundPolicy" rows="3" type="text" md-maxlength="1000"></textarea>
      				</md-input-container>
      				
      				</div>
      				
      				<!-- For Image Uploading -->
      				<div layout="column" layout-wrap>
        	<h2 class="md-title" style="margin-left: 16px;">Upload Venue Images</h2>
        	<div layout="row" layout-wrap layout-margin layout-align="start center">
        	<div flex="100">
        		<span style="color: brown" ng-show="vm.policyDetails.menuImageFile.$error.maxSize">File too large, one image file can be of maximum 256KB</span>
        		<span style="color: brown" ng-show="vm.policyDetails.menuImageFile.$error.pattern">Only Image Files are allowed to be Uploaded</span>
        		<span style="color: brown" ng-show="vm.policyDetails.menuImageFile.$error.maxFiles">Maximum of 10 files are allowed</span>
        		<span style="color: brown" ng-show="vm.policyDetails.length > 0">{{vm.imageUploadCustomErrorMsg}}</span>
        	</div>	
        	<input type="file" name="vendorImageFile" ngf-model-invalid="invalidFiles" ng-model="vm.uploadedVendorImages" ngf-select="vm.uploadFiles($files, vm.vendorImages, 10)" ngf-multiple="true" ngf-pattern="'image/*'" flex="40" ngf-accept="'image/*'" ngf-max-size="512KB" ngf-max-total-size="5MB" ngf-max-files="10"></input>
  			<div>(Max 10 Image Files, Max size 512KB for each File)</div>
  			     
  			</div>
  			<!--Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
  			<div layout="row" layout-fill layout-wrap layout-margin>
  				<div flex-gt-xs="20" flex-xs="30" class="uploaded-img-container" ng-repeat="image in vm.vendorImages">
  					<img style="width: 100%;" data-ng-src="{{image}}"/>
  					<md-button class="md-icon-button delete-uploaded-img" ng-click="vm.removeSelectedImg(vm.vendorImages, $index)">
					<md-icon class="material-icons md-24" style="color: white;">
						close
					</md-icon>
				</md-button>
  				</div>
  			</div>
        </div>
      				
      		
      		</fieldset>
      		</form>		
    </md-content>
   </wz-step>
</wizard>
</md-content>