.team-name{
	font-weight: 700;
	font-size: 16px;	
}
.team-designation{
	font-family: 'OpenSans-Italic';
}

.team-members{
	padding-top: 30px;
}

.team-image{
	border: 2px solid #656565;
}

.generic-cover{
	display: table;
}

.cover-text{
	display: table-cell;
}

.about-us-cover{
	background-image: url('/images/about_us_cover.jpg')!important;
}

/* faq styling starts */
.faq-question-text{
	font-size: 18px;
}

.faq-question-text::before{
	/*content: '\2022';*/
}
.faq-answer-text{
	font-size: 18px;
	padding-bottom: 20px;
}
