.about-us-page{
	font-size: 16px;
}

.about-us-page p{
	margin-top: 10px;
}
.bolder{
	font-weight: 600;
}
.team-name{
	font-weight: 700;
	font-size: 16px;	
}
.team-designation{
	font-family: 'OpenSans-Italic';
}

.team-members{
	padding-top: 30px;
}

.team-image img{
	max-height: 100px;
}

.generic-cover{
	display: table;
}

.cover-text{
	display: table-cell;
}

.about-us-cover{
	background-image: url('/images/about_us_cover.jpg')!important;
}

/* faq styling starts */
.faq-question-text{
	font-size: 18px;
}

.faq-question-text::before{
	/*content: '\2022';*/
}
.faq-answer-text{
	font-size: 18px;
	padding-bottom: 20px;
}

.disclaimer #coverPage,
.privacypolicy #coverPage,
.termsofuse #coverPage,
.faq-page #coverPage,
.about-us-page #coverPage{
	height: 50vh !important;
}

.termsofuse ul{
	padding: initial;
    margin: initial;
    list-style: initial;
    list-style-type: initial;
    line-height: initial;
    -webkit-padding-start: 40px;
}

.faq-cover{
	background-image: url('/images/faq_cover.jpg') !important;
}

.disclaimer-cover{
	background-image: url('/images/disclaimer.jpg') !important;
}

.termsofuse-cover{
	background-image: url('/images/tou.jpg') !important;
}

.privacypolicy-cover{
	background-image: url('/images/privacypolicy.jpg') !important;
}
