.data-list {
	min-height: 500px;
}
.results-number {
	display: inline;
}
.pamphlet-anchor:hover > .pamphlet-container { /* applied styling as per md-whiteframe-12 */
	box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
}
.pamphlet-container {
	position: relative;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 0 solid transparent;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(125,124,122,0.5);
	padding: 5px;
}

.pamphlet-container .pamphlet-header {
	/*position: absolute;*/
	top: 0;
	padding: 0;
	width: 100%;
}

.pamphlet-header {
	font-size: 16px;
	padding: 10px 15px 0;
	border-bottom: 0 solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	max-height: 140px;
}

.pamphlet-header-minHeight{
	min-height: 230px;
}
.pamphlet-container .pamphlet-header img,
.pamphlet-container .pamphlet-header .vendor-cover-img {
	width: 100%;
	margin: auto;
	height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.pamphlet-container .pamphlet-body {
	height: 45px;
	padding: 0px;
}

.pamphlet-body .pamphlet-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	line-height: 60px;
	height: inherit;
}

/* Applying animations on data page records */
.data-page-record.ng-enter, .data-page-record.ng-move {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 0;
	top: 10px;
}

.data-page-record.ng-enter.ng-enter-active, .data-page-record.ng-move.ng-move-active {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 1;
	top: 0px;
}

.data-page-record.ng-leave {
	opacity: 0;
}

.pamphlet-title-desc, .pamphlet-title-price{
	line-height: 22px;
	color: #333333;
	font-family: 'OpenSans-Semibold';
}

.pamphlet-title-price{
	font-size: 14px;
	position: absolute;
    right: 6px;
    bottom: 51px;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 0px 5px;
}

.venue-capacity-heading{
	    color: #706f6d;
    font-size: 10px;
    letter-spacing: 1px;
}

.venue-gathering-range{
	margin-left: 5px;
}

.pamphlet-plate-price{
	color: #706f6d;
    font-size: 10px;
    letter-spacing: 1px;
}

.pamphlet-title-desc > div{
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
	letter-spacing: 1px;
}

.pamphlet-title-city{
	font-family: 'OpenSans-Regular';
	text-transform: uppercase;
}

.border-left-1px{
	border-left: 1px solid #333333;
}

.featured-ribbon {
width: 120px;
height: 20px;
	background: rgba(243,114,82,0.9);
    z-index: 1;
    position: absolute;
    top: 9px;
    color: #FFFFFF;
    text-align: center;
    display: table;
}

.featured-ribbon .featured-ribbon-text{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}

.featured-ribbon:after{
	position: absolute;
	content: '';
	border: 10px solid rgba(243,114,82,0.9);
	border-right-color: transparent;
	left: 120px;
}


.filter-btn {
background-color: #ee3e20 !important;
    color: #ffffff !important;
    overflow: visible !important;
    width: 51px !important;
    height: 51px !important;
    line-height: 51px !important;
}

.clear-btn {
	background-color: #ffffff !important;
	overflow: visible !important;
	    width: 51px !important;
    height: 51px !important;
    line-height: 51px !important;
}

.reset-btn {
	background-color: rgba(0,0,0,0) !important;
}

.no-records-found{
	height: inherit;
	display: table;
	text-align: center;
}

.no-records-found > div{
	display: table-cell;
	vertical-align: middle;
}

.filter-ribbon-button{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #ee3e20;
	border-radius: 4px;
}

.repositionText{
	position: relative;
	top: -11px;
}

.filter-ribbon-button span{
	margin-top: 8px;
    border: 1px solid #ffffff;
    display: block;
    margin-bottom: 8px;
    margin-left: 6px;
    width: 70%;
}

.rateLargeFont{
	font-size: 22px;
}

.filter-ribbon-button span:nth-child(2){
	width: 50%;
}

.filter-ribbon-button span:nth-child(3){
	width: 60%;
}

.data-page-breadcrumb > ul > li{
	color: #000000;	
}

.data-page-breadcrumb > ul > li > a{
	color: #000000;	
}

.data-page-breadcrumb > ul > li > a:hover,
.data-page-breadcrumb > ul > li > a:focus{
	color: #000000;	
	text-decoration: underline;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

	.pamphlet-header{
		max-height: 187px;
	}	
	.vendor-cover-img{
		height: 187px;
	}
	.pamphlet-container{
		overflow: hidden;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.pamphlet-header{
		max-height: 164px;
	}
	.vendor-cover-img{
		height: 164px;
	}	
	
}
