.data-list {
	min-height: 500px;
}
.results-number {
	display: inline;
}
.pamphlet-anchor {

}
.pamphlet-container {
	position: relative;
	margin-bottom: 20px;
	background-color: #fff;
	border: 0 solid transparent;
	border-radius: 4px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.05);
}

.pamphlet-container .pamphlet-header {
	/*position: absolute;*/
	top: 0;
	padding: 0;
	width: 100%;
}

.pamphlet-header {
	font-size: 16px;
	padding: 10px 15px 0;
	border-bottom: 0 solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	/* for image zoom overflow is set to hidden */
	overflow: hidden;
}

.pamphlet-header-minHeight{
	min-height: 230px;
}
.pamphlet-container .pamphlet-header img {
	height: 100%;
	width: 100%;
	margin: auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transform: scale(1,1);
	transition: transform 0.5s 0s;
	-webkit-transform: scale(1,1);
	-webkit-transition: -webkit-transform 0.5s 0s;
	-moz-transform: scale(1,1);
	-moz-transition: -moz-transform 0.5s 0s;
	-o-transform: scale(1,1);
	-o-transition: -o-transform 0.5s 0s;
	-ms-transform: scale(1,1);
	-ms-transition: -ms-transform 0.5s 0s;
}

.pamphlet-container .pamphlet-header:hover img {
	transform: scale(1.2,1.2);
	transition: transform 0.5s 0s;
	-webkit-transform: scale(1.2,1.2);
	-webkit-transition: -webkit-transform 0.5s 0s;
	-moz-transform: scale(1.2,1.2);
	-moz-transition: -moz-transform 0.5s 0s;
	-o-transform: scale(1.2,1.2);
	-o-transition: -o-transform 0.5s 0s;
	-ms-transform: scale(1.2,1.2);
	-ms-transition: -ms-transform 0.5s 0s;
}

.pamphlet-container .pamphlet-body {
	height: 60px;
	padding: 0px;
}

.pamphlet-body .pamphlet-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	line-height: 60px;
	height: inherit;
}

/* Applying animations on data page records */
.data-page-record.ng-enter, .data-page-record.ng-move {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 0;
	top: 10px;
}

.data-page-record.ng-enter.ng-enter-active, .data-page-record.ng-move.ng-move-active {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 1;
	top: 0px;
}

.data-page-record.ng-leave {
	opacity: 0;
}

.pamphlet-title-desc, .pamphlet-title-price{
	line-height: 30px;
	color: #333333;
	font-family: 'OpenSans-Semibold';
}

.pamphlet-title-desc > div{
	width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pamphlet-title-city{
	font-family: 'OpenSans-Regular';
}

.border-left-1px{
	border-left: 1px solid #333333;
}

.featured-ribbon {
width: 168px;
height: 32px;
	background: rgba(243,114,82,0.9);
    z-index: 1;
    position: absolute;
    top: 9px;
    color: #FFFFFF;
    text-align: center;
    display: table;
}

.featured-ribbon .featured-ribbon-text{
	display: table-cell;
	vertical-align: middle;
}

.featured-ribbon:after{
	position: absolute;
	content: '';
	border: 16px solid rgba(243,114,82,0.9);
	border-right-color: transparent;
	left: 168px;
}


.filter-btn {
	background-color: #f37254;
	font-weight: 600;
	font-size: 14px;
	border: 2px solid #f37254;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 8px 12px;
}

.filter-btn:hover,
.filter-btn:focus{
	background-color: #f37254;
	border: 2px solid #f37254;
	color: #ffffff;
}

.reset-btn {
	background-color: rgba(0,0,0,0);
	font-weight: 600;
	font-size: 14px;
	border: 2px solid #656565;
	color: #656565;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 8px 12px;
}

.reset-btn:hover,
.reset-btn:focus{
	background-color: rgba(0,0,0,0);
	border: 2px solid #656565;
	color: #656565;
}

.no-records-found{
	height: inherit;
	display: table;
	text-align: center;
}

.no-records-found > div{
	display: table-cell;
	vertical-align: middle;
}

.filter-ribbon-button{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #f37254;
	border-radius: 4px;
}

.repositionText{
	position: relative;
	top: -11px;
}

.filter-ribbon-button span{
	margin-top: 8px;
    border: 1px solid #ffffff;
    display: block;
    margin-bottom: 8px;
    margin-left: 6px;
    width: 70%;
}

.filter-ribbon-button span:nth-child(2){
	width: 50%;
}

.filter-ribbon-button span:nth-child(3){
	width: 60%;
}
