.details-container {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #ffffff;
}

.details-container h2.details-name {
	margin: 0;
	color: #000000;
	font-weight: 600;
	line-height: 1.5em;
}

.details-container .details-address {
	font-weight: 400;
}

.details-container .details-telephone {
	font-weight: 400;
}

.details-container .details-city {
	font-weight: 400;
}

.details-pamphlet .pamphlet-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 600;
	color: #f37254;
	text-transform: uppercase;
}

.details-pamphlet .pamphlet-header {
	padding: 10px 15px 0;
}

.details-pamphlet .pamphlet-body{
	padding: 15px;
	height: auto;
}

.nav-tabs.nav-justified>.active>a, 
.nav-tabs.nav-justified>.active>a:focus, 
.nav-tabs.nav-justified>.active>a:hover {
    border-top: 0;
    border-left: 0;
    background-color: #eee;
    border-bottom: solid 5px #f37254;
    color: #f37254;
}

.nav-tabs.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px;
    border-radius: 0;
    margin-right: 0;
    border: 0;
    color: #333;
    border-right: solid 1px #ddd;
    border-bottom: solid 5px #ddd;
}

.nav-tabs.nav-justified>li:last-child>a {
    border-right: 0;
}

.amenities-services .pamphlet-body .tab-content ul {

    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    list-style: none;
}

@media screen and (max-width:768px) {
	.amenities-services .pamphlet-body .tab-content ul {

    -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
    list-style: none;
}
}


.amenities-services .pamphlet-body .tab-content ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.detail-cover{
	cursor: pointer;
}

.view-gallery-btn{
	position:absolute;
	top:430px;
	right:125px;
}

.recommended-pamphlet-header{
	padding: 10px 15px 0 !important;
}

.recommended-pamphlet-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: #f37254;
    text-transform: uppercase;
}

.recommended-pamphlet-image{
	/*padding: 15px !important;*/
	overflow: hidden;
}

.recommended-pamphlet-container{
	padding: 15px;
}


.recommended-pamphlet-desc{
	height: 30px !important;
}

.pamphlet-body .recommended-small-font{
	font-size: 14px;
}
#map{
	height: 400px;
}

.roomCategory, .banquetCategory{
	padding-top: 10px;
	font-size: 16px;
	font-family: 'OpenSans-Semibold';
}

.room-services{
	    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    -o-column-count: 3 !important;
    -ms-column-count: 3 !important;
    column-count: 3 !important;
    list-style: none;
    border-bottom: 2px solid #dddddd;
}

.banquet-services{
	    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    -o-column-count: 2 !important;
    -ms-column-count: 2 !important;
    column-count: 2 !important;
    list-style: none;
    
}

.room-services li,
.banquet-services li{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 12px !important;
}

.roomPrice{
	display: inline-block;
	float: right;
	font-family: 'OpenSans-Italic';
}

.room-services li.disabled,
.banquet-services li.disabled{
	opacity: 0.3;
}

.single-tab{
	width: 50% !important;
}

.single-tab > a:hover{
	border-left: none !important;
	border-right: none !important;
}

