/* Overriding styling for ui-widget for autocomplete */
.ui-widget {
	font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

#coverPage {
	position: relative;
	width: 100%;
	color: #ffffff;
	height: 500px;
			background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center;
	z-index: 2;	
}


#coverPage .cover-swiper-container{
	height: 100%;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide{
		background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide:nth-child(1){
	background-image: url('/images/main_cover.jpg') !important;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide:nth-child(2){
	background-image: url('/images/venues_cover.jpg') !important;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide:nth-child(3){
	background-image: url('/images/caterer_cover.jpg') !important;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide:nth-child(4){
	background-image: url('/images/decor_cover.jpg') !important;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide:nth-child(5){
	background-image: url('/images/photography_cover.jpg') !important;
}

#coverPage .cover-swiper-wrapper .cover-swiper-slide:nth-child(6){
	background-image: url('/images/rentals_cover.jpg') !important;
}

#coverPage .content-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#coverPage .content-wrapper .container {
	height: 100%;
	display: table;
}

#coverPage .content-wrapper .container .main-content {
	display: table-cell;
}

#coverPage .main-heading {
	font-weight: 300;
	font-size: 5vw;
}

#coverPage .home-search-btn {
	width: 100%;
	background-color: #f37254;
	color: rgb(255, 255, 255);
	border: none;
	padding: 11px 16px;
}
#coverPage .select-option-menu {
	font-family: 'OpenSans-Semibold';
	height: 45px;
	border-radius: 6px;
	font-size: 18px;
	border: none;
	margin: 10px 0px 10px 0px;
	outline: none;
	width: 100%;
	padding-left: 6px;
	color: #F37254;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
}

#coverPage .custom-select-container {
	height: 65px;
}

#coverPage .custom-select-arrow {
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #FFFFFF;
	position: relative;
	right: -45%;
	top: -45%;
}

#coverPage .select-option-menu:hover, #coverPage .select-option-menu:focus {
	border: none;
}

#coverPage .select-option-menu option {
	color: #333333;
	background-color: #ffffff;
}

#coverPage .searchfortext {
	font-size: 24px;
}

#coverPage #searchedText{
	border-radius: 0px;
}

#coverPage .clear-searchedText{
	position: absolute;
    color: #f37254;
    top: 0px;
    right: 4px;
    font-size: 24px;
    line-height: 46px;
    cursor: pointer;
}

.lp-sprite {
	background-image: url('/images/spritesheet.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 128px;
	height: 128px;
}

.lp-venue-icon {
	background-position: -690px 0px;
}

.lp-caterer-icon {
	background-position: 0px 0px;
}

.lp-decor-icon {
	background-position: -138px 0px;
}

.lp-photography-icon {
	background-position: -552px 0px;
}

.lp-entertainment-icon {
	background-position: -276px 0px;
}

.lp-others-icon {
	background-position: -414px 0px;
}

.home-page-icons{
	padding-top: 10px;
	padding-bottom: 10px;
}

.portfolioSlider .swiper-container {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 50px;
}
.portfolioSlider .swiper-slide {
	border-radius: 4px;
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Recently Added section css */
.recently-added-list{

}

.recently-added-section{
	margin-top: 10px;
}

.recently-added-category-name{
	font-family:'OpenSans-Semibold';
	    color: #2d2d2d;
    text-shadow: 0 1px 1px #fff;
	text-transform: uppercase;
}

.recently-added-list li{
    padding-top: 5px;
    font-family: 'OpenSans-Semibold';
    padding-bottom: 5px;
}

.recently-added-list li a{
	color: #656565;
}

.recently-added-list li a:hover{
	text-decoration: underline;
}

.view-event-btn{
	position: absolute;
    left: 100px;
    top: 250px;
}

/* Sub Category Styling  */
/*.subcategory-swiper-container.CATERER,
.subcategory-swiper-container.DECORATOR,
.subcategory-swiper-container.PHOTOGRAPHER,
.subcategory-swiper-container.ENTERTAINMENT,
.subcategory-swiper-container.OTHERS{
	display: none;
}


.subcategory-icon-outer-background{
	display: block;
	height: 120px;
	width: 90px;
	margin-left: auto;
	margin-right: auto;
}

.subcategory-swiper-container{
	background: rgba(255,255,255,1);
}

.subcategory-icon-border-inner-background{
	    border: 2px solid #f37254;
    border-radius: 50%
}



.subcategory-icon-inner-background{
	    background: #EEEEEE;
border-radius: 50%;	
    width: 85px;
    height: 85px;
    padding: 5px;
}
*/

.subcategory-icon-text{
    text-align: center;
    margin-top: 11px;
    text-transform: uppercase;
    font-family: openSans-bold;
    color: #656565;
    display: none;
}

.subcategory-icon{
	background-image: url('/images/subcategory-icons.png');
	background-repeat: no-repeat;
	height: 150px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/* Venue subcategory */
.subcategory-icon.hotels{
	background-position: -420px 0px;
}

.subcategory-icon.restaurants{
	background-position: -1050px 0px;
}

.subcategory-icon.marriage-palaces{
	background-position: -630px 0px;
}
.subcategory-icon.banquet-halls{
	background-position: 0px 0px;
}

.subcategory-icon.clubs{
	background-position: -210px 0px;
}

.subcategory-icon.others{
	background-position: -840px 0px;
}

/* Caterer subcategory */

.subcategory-icon.veg{
	background-position: -449px -5px;
}

.subcategory-icon.non-veg{
	background-position: -373px -301px;
}

.subcategory-icon.bartender{
	background-position: -5px -79px;
}

/* Decorator subcategory */
.subcategory-icon.tenting{
	background-position: -301px -375px;
}
.subcategory-icon.lighting{
	background-position: -5px -301px;
}
.subcategory-icon.floral{
	background-position: -79px -227px;

}
.subcategory-icon.candles{
	background-position: -301px -79px;
}
.subcategory-icon.balloons{
	background-position: -153px -5px;
}

/* Photographer subcategory */
.subcategory-icon.photography{
	background-position: -227px -79px;
}
.subcategory-icon.videography{
	background-position: -449px -79px;
}

/* Entertainment subcategory */
.subcategory-icon.dj{
	background-position: -301px -153px;
}
.subcategory-icon.singers{
	background-position: -227px -375px;
}
.subcategory-icon.dancers{
	background-position: -227px -153px;
}
.subcategory-icon.musicians{
	background-position: -299px -301px;
}
.subcategory-icon.choreographers{
	background-position: -375px -79px;
}
.subcategory-icon.anchors{
	background-position: -79px -5px;
}
.subcategory-icon.fireworks{
	background-position: -5px -227px;
}
.subcategory-icon.other-acts{
	background-position: -79px -375px;
}

/* Others subcategory */
.subcategory-icon.makeup-artist{
	background-position: -79px -301px;
}
.subcategory-icon.jewellery{
	background-position: -375px -227px;
}
.subcategory-icon.invites{
	background-position: -301px -227px;
}
.subcategory-icon.cab-services{
	background-position: -79px -79px;
}
.subcategory-icon.ecoverage{
	background-position: -375px -153px;
}
.subcategory-icon.gift-shops{
	background-position: -153px -227px;
}
.subcategory-icon.trousseau-packer{
	background-position: -375px -375px;
}
.subcategory-icon.accessories{
	background-position: -5px -5px;
}
.subcategory-icon.mehendi-artist{
	background-position: -227px -301px;
}
.subcategory-icon.clothing{
	background-position: -5px -153px;
	/*background-position: -79px -153px;*/
}

.subcategory-heading{
	    margin: 0px;
    color: #656565;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}


@media only screen and (min-width: 0px) and (max-width: 767px) {
	#coverPage .home-search-btn {
		border-radius: 6px !important;
	}

	#coverPage .home-search-box {
		border-radius: 0px;
	}
	
	
	#coverPage .lp-select-city-text {
		border-radius: 0px !important;
	}
	
	#coverPage .lp-label-city,
	#coverPage .lp-label-category{
		font-size: 16px;
	}
	

.recently-added-list li a{
	color: #337ab7;
	font-family: 'OpenSans-Bold';
	text-decoration: underline;
}


}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.lp-category-dropdown{
		font-size: 12px;
	}
	.lp-selected-category{
		font-size: 12px;
	}
}