/* Addition of relevant Fonts */
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/styles/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Italic';
	src: url('/styles/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('/styles/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('/styles/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('/styles/fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	outline: none !important;
}

html, body {
	color: #656565;
	font-family: 'OpenSans-Regular', sans serif !important;
	font-size: 14px;
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none !important; 
}

/* Fix for padding when bootstrap modal opens - legit Issue */

body.modal-open{
	padding-right: 0px !important;
}

section {
	padding-top: 2em;
	padding-bottom: 2em;
	background-size: cover !important;
}

ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: none;
}

/*Common functionality*/
.no-margin-right {
	margin-right: 0px;
}
.no-margin-left {
	margin-left: 0px;
}
.no-margin-top {
	margin-top: 0px;
}
.no-margin-bottom {
	margin-bottom: 0px;
}
.no-padding-bottom {
	padding-bottom: 0px;
}
.no-padding-top {
	padding-top: 0px;
}
.no-padding-right {
	padding-right: 0px;
}
.no-padding-left {
	padding-left: 0px;
}
.no-border-top-left-radius {
	border-top-left-radius: 0px !important;
}
.no-border-top-right-radius {
	border-top-right-radius: 0px !important;
}
.no-border-bottom-right-radius {
	border-bottom-right-radius: 0px !important;
}
.no-border-bottom-left-radius {
	border-bottom-left-radius: 0px !important;
}
.vertical-center {
	vertical-align: middle;
}

.gap, .semi-gap, .quarter-gap, .gap20 {
	display: block;
	width: 100%;
}
.gap {
	height: 100px;
}

.semi-gap {
	height: 50px;
}
.quarter-gap {
	height: 25px;
}

.gap20 {
	height: 20px;
}

.bg-theme-color {
	background-color: #f37254;
}
.theme-color {
	color: #f37254;
}
.bg-grey {
	background-color: #EEEEEE;
}
.form-group .required:after {
	content: "*";
	color: brown;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: none;
}


.default-white-btn {
	color: #ffffff;
	background-color: rgba(0,0,0,0);
	font-weight: 600;
	text-align: center;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	padding: 8px 12px;
}

.default-white-btn:hover, .default-white-btn:focus {
	background-color: rgba(255,255,255,1);
	color: #F37254;
}

.default-theme-btn {
	color: #ffffff;
	background-color: rgba(243,114,84,0.8);
	font-weight: 600;
	text-align: center;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	padding: 8px 12px;
}

.default-theme-btn:hover, .default-theme-btn:focus {
color: #ffffff;
	background-color: rgba(243,114,84,0.8);
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}
/* Footer css */

#footer {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #414042;
	color: #fff;
}

#footer a {
	color: #fff;
	text-decoration: none;
	    display: block;
   /* height: 100px;*/
}

#footer a.footer-logo-anchor{
	height: 100px;
}

.logo {
	font-size: 25px;
	font-weight: 400;
}

p.info, p.connect {
	font-size: 14px;
}

#footer ul li {
	padding-top: 10px;
}

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .social li {
	padding-right: 20px;
	display: inline-block;
}

#footer .social li span{
	color: #ffffff;
    line-height: 2.3;
    font-size: 22px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.social a:hover span.fa-facebook {
    background: #3b5998;
}

.social a:hover span.fa-twitter {
    background: #55acee;
}

.social a:hover span.fa-youtube {
    background: rgb(255, 0, 51);
}

.social a:hover span.fa-instagram {
    background: rgb(136, 142, 153);
}

/* Footer css ends*/

/* Header navbar css */


.navbar-inverse{
	/*background-color: #f37254;	*/
	background-color: transparent;	
}

.navbar-inverse .navbar-toggle{
	border-color: #ffffff;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
        border: 0;
    padding: 4px 4px 4px 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 50px;
    height: 80px;
}



.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f15633;
}

.lp-header-navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
        border-top: 0px !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.lp-header-navbar-nav{
	width: initial !important;
    /* position: absolute; */
    right: auto !important;
    background: none !important;
    top: initial !important;
    z-index: auto !important;
    margin-right: 0px;
}


.lp-select-city-menu{
    height: 40px;
    font-size: 16px;
    border: none;
    margin: 20px 0px 20px 0px;
    outline: none;
    padding-left: 6px;
    color: #FFFFFF;
    background: none;
    border-radius: 2px;
    border: 1px solid #ffffff;

}

.lp-label-city,
.lp-label-category{
	    position: absolute;
    text-align: left;
    line-height: 16px;
    font-size: 12px;
    left: 6px;
    font-family: OpenSans-bold;
    color: #f37254;
}

.lp-select-city-menu option{
    color: #333333;
    background-color: #ffffff;
}



.lp-select-city-text,
.lp-select-category-text{
	height: 46px;
	color: #555555;
    background: #ffffff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 53px;
}

.lp-select-category-text{
	    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
        text-align: left;
    padding-left: 6px;
}

.lp-city-dropdown,
.lp-category-dropdown{
	display: none;
background: white;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 16px;
    z-index: 1;
}

.lp-category-dropdown{
	top: initial;
}

.lp-city-dropdown li,
.lp-category-dropdown li{
	height: 36px;
	line-height: 36px;
	background-color: #FFFFFF;
}

.lp-city-dropdown li .location-dropdown-icon,
.lp-category-dropdown li .category-icons
{
	    color: #656565;
    line-height: 36px;
}


.lp-city-dropdown li:hover .location-dropdown-icon,
.lp-city-dropdown li:focus .location-dropdown-icon,
.lp-category-dropdown li:hover .category-icons,
.lp-category-dropdown li:focus .category-icons{
	    color: #ffffff;
}

.lp-city-dropdown li:hover a,
.lp-city-dropdown li:focus a,
.lp-category-dropdown li:hover a,
.lp-category-dropdown li:focus a{
	color: #FFFFFF;
	background-color: #656565;
}

.lp-city-dropdown li a,
.lp-category-dropdown li a{
	padding-left: 4px;
		color: #656565;
		display: block;
		height: 100%;
		width: 100%;
}

.lp-category-dropdown li a{
	text-align: left;
	padding-left: 6px;	
	padding-right: 6px;
}

.lp-select-category-text > .lp-selected-category > .category-icons{
		color: #f37254;
	font-size: 20px;
	line-height: 46px;
}

.location-icon{
	color: #f37254;
	font-size: 20px;
	line-height: 46px;
}


/* Header navbar css ends*/

.header {
	width: 100%;
	background: url(../images/banner_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: 100% 100%;
}
.header-top {
	background: rgba(0, 0, 0, 0.4);
	padding: 3% 0;
}
.logo {
	float: left;
}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li a {
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 20px;
	color: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
}
.menu li a:hover, .menu li.active a {
	background: #fff;
	color: #4BCAFF;
}
#nav .current a {
	color: red;
}
.toggleMenu {
	display: none;
	padding: 2px 0px 0px 0px;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav ul {
	list-style: none;
}

.header-bottom {
	padding: 15% 0;
	text-align: center;
}
.header-bottom h1 {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 2.7em;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width: 48%;
	margin: 0 auto 2% auto;
}
.header-bottom h2 {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 2.7em;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width: 68%;
	margin: 0 auto;
}

.lineHeight30 {
	line-height: 30px !important;
}

.color-green {
	color: #1d9d74;
}

/* Overriding pagination style */
.pagination{
	float: right;
}

.link-text-color{
	color : #656565;
}


/*loading screen styling*/
.loader-screen{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1051;
	    background: rgba(255,255,255,1);
/*background-image: url('../images/loader_bg.jpg');
	background-repeat: repeat;*/
	opacity: 1;
}


.loader-screen.ng-enter {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  -ms-transition:0.5s linear all;
  opacity:0;
}


.loader-screen.ng-enter.ng-enter-active {
  opacity:1;
}

.loader-screen.ng-leave {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  -ms-transition:0.5s linear all;
  opacity:1;
}
.loader-screen.ng-leave.ng-leave-active {
  opacity:0;
}

#back-to-top{
	position: fixed;
	right: 10px;
	height: 50px;
	width: 50px;
	bottom: 20px;
	z-index: 1000;
}

#back-to-top.show-0{
	display: none;
}

#back-to-top.show-1{
	display: block;
}
/*loading screen styling ends*/

/* Overriding z-index for boxer Carousel
 * so that it comes over the header */
#boxer-overlay,
#boxer{
	z-index: 1031;
}


@media only screen and (max-width: 767px) and (min-width: 0)
{.navbar-brand {
    float: left;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    height: 50px;
}

.navbar-brand img{
	height: 50px;
}


}

@media only screen and (min-width: 767px)
{
#navbar{
	max-height: 80px;
}
}

@media screen and (max-width: 800px) {
	.active {
		display: block;
	}
	.menu li a {
		text-align: left;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
	}
	.nav {
		list-style: none;
		width: 95%;
		/*position: absolute;*/
		right: 20px;
		background: rgba(73, 84, 91, 0.87);
		top: 66px;
		z-index: 111;
	}
	.nav:after {
		content: '';
		position: absolute;
		right: 18px;
		top: -9px;
		border-left: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid rgba(0, 0, 0, 0);
		border-bottom: 10px solid rgba(73, 84, 91, 0.87);
	}
	.menu li a span.messages {
		text-align: center;
		top: 15px;
	}
	.nav li ul {
		width: 100%;
	}
	.menu ul {
		margin: 0;
	}
	.nav > li.hover > ul {
		width: 100%;
	}
	.nav > li {
		float: none;
		display: block;
	}
	.nav ul {
		display: block;
		width: 100%;
	}
	.nav > li.hover > ul, .nav li li.hover ul {
		position: static;
	}
	.nav li a {
		border-top: 1px solid rgba(73, 84, 91, 0.87);
	}
	.nav li:first-child a {
		border-top: none;
	}
	
	.lp-select-city-menu{
    height: 30px;
    margin: 10px 0px 10px 0px;

}
}
