/* Addition of relevant Fonts */
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/styles/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Italic';
	src: url('/styles/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('/styles/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('/styles/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('/styles/fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	outline: none !important;
}

html, body {
	color: #656565;
	font-family: 'OpenSans-Regular', sans serif !important;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none !important; 
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	height: auto; /* angular-material override */
}

body.height100{

}

input:focus{
  outline:none;
}

/* Fix for padding when bootstrap modal opens - legit Issue */

body.modal-open{
	padding-right: 0px !important;
}

/* Fix the body scroll when filters are open in mobile view */
body.stop-scrolling{
	overflow-y: hidden;
    position: fixed;
}

section {
	padding-top: 2em;
	padding-bottom: 2em;
	background-size: cover !important;
}

ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-type: none;
	line-height: initial;
}

a {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: none;
}

/* overriding material design lite functionality */
blockquote:before,
blockquote:after{
	content: '';
}

/*Common functionality*/
.no-margin-right {
	margin-right: 0px !important;
}
.no-margin-left {
	margin-left: 0px !important;
}
.no-margin-top {
	margin-top: 0px !important;
}
.no-margin-bottom {
	margin-bottom: 0px !important;
}
.no-padding-bottom {
	padding-bottom: 0px !important;
}
.no-padding-top {
	padding-top: 0px !important;
}
.no-padding-right {
	padding-right: 0px !important;
}
.no-padding-left {
	padding-left: 0px !important;
}
.no-border-top-left-radius {
	border-top-left-radius: 0px !important;
}
.no-border-top-right-radius {
	border-top-right-radius: 0px !important;
}
.no-border-bottom-right-radius {
	border-bottom-right-radius: 0px !important;
}
.no-border-bottom-left-radius {
	border-bottom-left-radius: 0px !important;
}
.vertical-center {
	vertical-align: middle;
}

.gap, .semi-gap, .quarter-gap, .gap20 {
	display: block;
	width: 100%;

}
.gap {
	height: 100px;
}

.semi-gap {
	height: 50px;
}
.quarter-gap {
	height: 25px;
}

.gap20 {
	height: 20px;
		float: left;
}

.bg-theme-color {
	background-color: #ee3e20;
}
.theme-color {
	    color: #ee3e20;
}
.theme-color-white{
	color: #ffffff;
}
.theme-color  hr{    width: 10%;
    border-top: 3px solid #ee3e20;
    margin-top: 32px;
    margin-bottom: 50px;}

.theme-color-white hr{
	    width: 10%;
    border-top: 3px solid #ffffff;
    margin-top: 32px;
    margin-bottom: 50px;
}    
	
.bg-grey {
	background-color: #EEEEEE;
}

.marginTopBottom20{
	margin: 20px 0px;
}

.marginBottom20{
	margin-bottom: 20px;
}

.fontSize16{
	font-size: 16px;
}

.vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.text-start{
	text-align: start;
}

.form-group .required:after {
	content: "*";
	color: brown;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: none;
}

.dodgerblue-color{
	color: #98a2ab;
}

.default-white-btn {
	color: #ffffff;
	background-color: rgba(0,0,0,0);
	font-weight: 600;
	text-align: center;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	padding: 8px 12px;
}

.default-white-btn:hover, .default-white-btn:focus {
	background-color: rgba(255,255,255,1);
	color: #ee3e20;
}

.default-theme-btn {
	color: #ffffff;
	background-color: rgba(238,62,32,0.8);
	font-weight: 600;
	text-align: center;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	padding: 8px 12px;
}

.default-theme-btn:hover, .default-theme-btn:focus {
color: #ffffff;
	background-color: rgba(238,62,32,0.8);
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}
/* Footer css */

#footer {
	    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
    background-color: #414042;
    color: #fff;
    background-image: url('/images/footer_bg.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
    padding: 55px 0;
}

#globalSideNavSocial{
	padding: 30px 5px;
	}

.global-side-nav{
	position: fixed;	
}	

#footer a,
#globalSideNavSocial a {
	color: #fff;
	text-decoration: none;
	    display: block;
   /* height: 100px;*/
}


#footer a:hover{
	text-decoration: underline;
}


#footer a.footer-logo-anchor{
	height: 100px;
}

.logo {
	font-size: 25px;
	font-weight: 400;
}

p.info {
	font-size: 14px;
	margin-top: 8px;
}

#footer ul li,
#globalSideNavSocial ul li {
	padding-top: 10px;
}

#footer ul,
#globalSideNavSocial ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .social li,
#globalSideNavSocial .social li {
	padding-right: 20px;
	display: inline-block;
}

#footer .social li span,
#globalSideNavSocial .social li span{
	color: #ffffff;
    line-height: 2.3;
    font-size: 22px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotateZ(0deg);
    -webkit-transition: -webkit-transform 0.5s;
        -moz-transform: rotateZ(0deg);
    -moz-transition: -moz-transform 0.5s;
        -o-transform: rotateZ(0deg);
    -o-transition: -o-transform 0.5s;
        -ms-transform: rotateZ(0deg);
    -ms-transition: -ms-transform 0.5s;
}

#globalSideNavSocial .social li span{
	color: #98a2ab;
	border: 1px solid #98a2ab;
}


.globalSideNav-main-content,
.globalSideNav-main-content md-icon{
	color: #98a2ab;
}

.globalSideNav-main-content a:hover span,
.globalSideNav-main-content a:hover md-icon{
	color: #23527c; 
}

.global-nav-header{
	/*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);*/
}

#footer .social li span:hover,
#globalSideNavSocial .social li span:hover{
	-webkit-transform: rotateZ(360deg);
	-webkit-transition: -webkit-transform 0.5s;
		-moz-transform: rotateZ(360deg);
	-moz-transition: -moz-transform 0.5s;
		-o-transform: rotateZ(360deg);
	-o-transition: -o-transform 0.5s;
		-ms-transform: rotateZ(360deg);
	-ms-transition: -ms-transform 0.5s;
}

#globalSideNavSocial .social li span:hover{
	color: #ffffff;
	border: 1px solid #ffffff;
}

.social a:hover span.fa-facebook {
    background: #3b5998;
}

.social a:hover span.fa-twitter {
    background: #55acee;
}

.social a:hover span.fa-youtube {
    background: rgb(255, 0, 51);
}

.social a:hover span.fa-instagram {
    background: rgb(136, 142, 153);
}

.lp-copyrights{
	    /* border-top: 2px solid #ffffff; */
    background: #000;
    padding: 20px 0;
    color: #fff;	
}

/* Footer css ends*/

/* Header navbar css */


.navbar-inverse{
	/*background-color: #ee3e20;	*/
	background-color: transparent;	
}

.navbar-inverse .navbar-toggle{
	border-color: #ffffff;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
        border: 0;
    padding: 4px 4px 4px 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 50px;
    height: 80px;
}



.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f15633;
}

.lp-header-navbar-nav > li > a,
.lp-header-navbar-nav > li > div {
    padding-top: 30px;
    padding-bottom: 30px;
        border-top: 0px !important;
}

.header-city-contnr{
	    width: 100%;
    padding: 7px 5px;
    border: none;
    outline: none;
    background: #ffffff;
    cursor: text;
    color: #666666;
    border-radius: 2px;
    font-size: 13px;	
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.lp-header-navbar-nav{
	width: initial !important;
    /* position: absolute; */
    right: auto !important;
    background: none !important;
    top: initial !important;
    z-index: auto !important;
    margin-right: 0px;
}


.lp-select-city-menu{
    height: 40px;
    font-size: 16px;
    border: none;
    margin: 20px 0px 20px 0px;
    outline: none;
    padding-left: 6px;
    color: #FFFFFF;
    background: none;
    border-radius: 2px;
    border: 1px solid #ffffff;

}

.lp-label-city,
.lp-label-category{
	    position: absolute;
    text-align: left;
    line-height: 16px;
    font-size: 12px;
    left: 6px;
    font-family: OpenSans-bold;
    color: #ee3e20;
}

.lp-select-city-menu option{
    color: #333333;
    background-color: #ffffff;
}



.lp-select-city-text,
.lp-select-category-text{
	height: 46px;
	color: #555555;
    background: #ffffff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 46px;
}

.lp-select-city-text.noselection-error,
.lp-select-category-text.noselection-error{
	border: 1px solid #ee3e20;
    box-shadow: 0px 0px 7px #ee3e20 inset;
    color: brown;
}

span.lp-selected-city:empty::before {
    content: 'Choose City';
    display: inline-block;
    font-size: 13px;
}

span.lp-selected-category:empty::before{
	content: 'Choose Vendor';
    display: inline-block;
    font-size: 16px;
}

.category-icons.fa-user{
	color: #ee3e20;
    font-size: 20px;
    line-height: 46px;
}

.lp-select-category-text{
	    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding-left: 6px;
}

.lp-city-dropdown,
.lp-category-dropdown{
	display: none;
background: white;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 16px;
    z-index: 1;
        border: 1px solid #656565;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    -ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

.lp-category-dropdown{
	top: initial;
}

.lp-city-dropdown li,
.lp-category-dropdown li{
	height: 36px;
	line-height: 36px;
	background-color: #FFFFFF;
}

.lp-city-dropdown li .location-dropdown-icon,
.lp-category-dropdown li .category-icons
{
	    color: #656565;
    line-height: 36px;
}


.lp-city-dropdown li:hover .location-dropdown-icon,
.lp-city-dropdown li:focus .location-dropdown-icon,
.lp-category-dropdown li:hover .category-icons,
.lp-category-dropdown li:focus .category-icons{
	    color: #ffffff;
}

.lp-city-dropdown li:hover a,
.lp-city-dropdown li:focus a,
.lp-category-dropdown li:hover a,
.lp-category-dropdown li:focus a{
	color: #FFFFFF;
	background-color: #656565;
}

.lp-city-dropdown li a,
.lp-category-dropdown li a{
	padding-left: 4px;
		color: #656565;
		display: block;
		height: 100%;
		width: 100%;
}

.lp-category-dropdown li a{
	text-align: left;
	padding-left: 6px;	
	padding-right: 6px;
}

.category-icons{
		color: #ee3e20;
	font-size: 20px;
	line-height: 46px;
}

.location-icon{
	color: #ee3e20;
	font-size: 16px;
}


/* Header navbar css ends*/

.header {
	width: 100%;
	background: url(../images/banner_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: 100% 100%;
}
.header-top {
	background: rgba(0, 0, 0, 0.4);
	padding: 3% 0;
}
.logo {
	float: left;
}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li a {
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 20px;
	color: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
}
.menu li a:hover, .menu li.active a {
	background: #fff;
	color: #4BCAFF;
}
#nav .current a {
	color: red;
}
.toggleMenu {
	display: none;
	padding: 2px 0px 0px 0px;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav ul {
	list-style: none;
}

.header-bottom {
	padding: 15% 0;
	text-align: center;
}
.header-bottom h1 {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 2.7em;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width: 48%;
	margin: 0 auto 2% auto;
}
.header-bottom h2 {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 2.7em;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width: 68%;
	margin: 0 auto;
}

.lineHeight30 {
	line-height: 30px !important;
}

.color-green {
	color: #1d9d74;
}

/* Overriding pagination style */
.pagination{
	float: right;
}

.link-text-color{
	color : #656565;
}


/*loading screen styling*/
.loader-screen{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1051;
	background: rgba(255,255,255,0.6);
/*background-image: url('../images/loader_bg.jpg');
	background-repeat: repeat;*/
	opacity: 1;
}


.loader-screen.ng-enter {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  -ms-transition:0.5s linear all;
  opacity:0;
}


.loader-screen.ng-enter.ng-enter-active {
  opacity:1;
}

.loader-screen.ng-leave {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  -ms-transition:0.5s linear all;
  opacity:1;
}
.loader-screen.ng-leave.ng-leave-active {
  opacity:0;
}

#back-to-top{
	position: fixed;
	right: 10px;
	height: 50px;
	width: 50px;
	bottom: 20px;
	z-index: 1000;
}

#back-to-top.show-0{
	display: none;
}

#back-to-top.show-1{
	display: block;
}
/*loading screen styling ends*/

/* Overriding z-index for boxer Carousel
 * so that it comes over the header */
#boxer-overlay,
#boxer{
	z-index: 1031;
}

/* Overriding swiper arrows
 
 * */

.swiper-button-next, 
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-next{
	background-image: url('/images/swiper_arrows.png') !important;
}

.swiper-button-prev, 
.swiper-button-next{
	background-position: -35px 0px !important;
	-webkit-background-size: initial !important;
	-moz-background-size: initial !important;
	width: 27px;
	background-size: inherit;
}

.swiper-button-prev{
	background-position: 0px 0px !important;     left: 34px;
}

.swiper-button-next{
	right: 34px;
}

.lp-global-breadcrumb{
	min-height: 50px;
}

.lp-global-breadcrumb > ul{
	height: inherit;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
}

.lp-global-breadcrumb > ul > li{
	display: inline-block;
	color: #ffffff
}

.lp-global-breadcrumb > ul > li > a{
	color: #ffffff;
	text-decoration: underline;
}

.lp-global-breadcrumb > ul > li > a:hover{
	color: #ffffff;
	text-decoration: underline;
}

/* Styling for directive template tile Component */
.tile-comp-container{
	display: inline-block;
	margin: 2px 2px 2px 0;
}

.tile-comp-container a{
	display: block;
	position: relative;
}

.tile-comp-container .overlay_and_text{
	display: inline;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    font-size: 18px;
    padding-top: 25%;
}

.tile-comp-container .subcategory-name{
	    position: absolute;
    left: 0px;
    bottom: 10px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
}

.tiles-comp-container{
	max-width: 820px;
    display: inline-block;
}

.mixed-subcategories-contnr{
	text-align: center;
}

/* custom header styling */
.navbar-header{
	float: none;
}

.lp-custom-header {
	float: right;
    height: 100%;
    position: relative;
    padding: 15px;
    
}

.lp-custom-header ul{
	 position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}	

.lp-custom-header ul li{
	float: left;
}

/* global side navigation override */
md-backdrop.md-sidenav-backdrop,
.global-side-nav{
	z-index: 1031;
}

.md-dialog-container{
	z-index: 1032;
}

.md-select-menu-container{
    z-index: 1032; /*done because of city dropdown in md-dialog*/
}

.md-scroll-mask{
	/*z-index: 1031;*/
}

md-backdrop.md-dialog-backdrop{
	z-index: 1031;
}

md-autocomplete{
	color: #656565;
}

.vendor-type-dropdown{
	background: white;
    margin: 0px -15px;
    border-radius: 2px;
    min-height: 60px;
    color: #656565;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.vendor-name-autocomplete{
	    min-height: 60px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0px;
}

.vendor-search-button{
	background: #ee3e20 !important;
    min-height: 60px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 2px;
        border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: block;
    width: 100%;
    position: absolute;
}

md-autocomplete md-autocomplete-wrap{
	height: 100%;
}

md-autocomplete input:not(.md-input){
	height: 100%;
}

.vendor_dropdown_icons{
	height: 28px;
	width: 28px;
	background-repeat: no-repeat;
	margin-left: 5px;
	background-image: url('/images/sprite-icons.png');
}

.vendor_type .md-text{
	width: 100%;
}

.md-select-menu-container .venue.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/venue_inactive.png');*/
	 width: 28px;
    height: 22px;
    background-position: -290px -150px;
}

.md-select-menu-container .caterer.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/caterer_inactive.png');*/
	 width: 24px;
    height: 22px;
    background-position: -124px -10px;
}

.md-select-menu-container .decorator.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/decorator_inactive.png');*/
	    width: 22px;
    height: 23px;
    background-position: -124px -53px;
}

.md-select-menu-container .photographer.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/photographer_inactive.png'*/);
	  width: 20px;
    height: 20px;
    background-position: -190px -220px;
}

.md-select-menu-container .entertainment.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/entertainment_inactive.png');*/
	width: 19px;
    height: 19px;
    background-position: -80px -92px;
}

.md-select-menu-container .others.vendor_dropdown_icons{
	/*sbackground-image: url('/images/vendor_dropdown_icons/others_inactive.png');*/
	width: 5px;
    height: 21px;
    background-position: -261px -92px;
}

.md-select-value .venue.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/venue_active.png');*/
	 width: 28px;
    height: 22px;
    background-position: -230px -220px;
}

.md-select-value .caterer.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/caterer_active.png');*/
	width: 24px;
    height: 22px;
    background-position: -10px -10px;
}

.md-select-value .decorator.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/decorator_active.png');*/
	width: 22px;
    height: 23px;
    background-position: -238px -10px;
}

.md-select-value .photographer.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/photographer_active.png');*/
	    width: 20px;
    height: 20px;
    background-position: -80px -220px;
}

.md-select-value .entertainment.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/entertainment_active.png');*/
	 width: 19px;
    height: 19px;
    background-position: -238px -53px;
}

.md-select-value .others.vendor_dropdown_icons{
	/*background-image: url('/images/vendor_dropdown_icons/others_active.png');*/
	 width: 5px;
    height: 21px;
    background-position: -236px -92px;
        margin-left: 10px;
}

.md-select-value .vendor-title{
	color: #EE3E20;s
}

.md-select-value .venue.vendor_dropdown_icons,
.md-select-value .caterer.vendor_dropdown_icons{
	    margin-left: 4px;
}

.vendor-type-dropdown .md-select-value span{
	margin-left: 2px;
}

.md-select-value .horiz-gap{
	display: none;
}

md-input-container #captcha input{
	color: #656565 !important;
}

.formatter-class{
	    position: absolute;
    top: 60px !important;
}

/* global message bar classes */
.err-msg-content{
	color: #b20000;
	line-height: 24px;
}

.success-msg-content{
	color: #2a7d05;
	line-height: 24px;
}

.bg-white{
	background: rgb(255, 255, 255);
}

.mBottom8{
	margin-bottom: 8px;
}

@media only screen and (max-width: 767px) and (min-width: 0)
{.navbar-brand {
    float: left;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    line-height: 1;
    height: 50px;
}

.navbar-brand img{
	height: 50px;
}

#footer a{
	color: #337ab7;
	font-family: 'OpenSans-Bold';
	text-decoration: underline;
}

.lp-global-breadcrumb > ul > li > a{
		color: #ffffff;
	text-decoration: underline;
}

.global_menu_button{
	min-height: initial;
	min-width: initial;
	margin: 0px 0px;
}

.location-button{
	margin: 0px 0px;
	max-width: 122px;
}

.lp-custom-header {

    padding: 3px;
    padding-top: 12px;
    
}

.vendor-name-autocomplete{
	border-radius: 2px;
}

.vendor-type-dropdown{
	    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.vendor-search-button{
	        border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

#footer .social li, #globalSideNavSocial .social li{
	padding-right: 15px;
}

 #globalSideNavSocial .social li{
 	padding-right: 5px;
 }
}

@media only screen and (min-width: 767px)
{
#navbar{
	max-height: 80px;
}
}

@media screen and (max-width: 800px) {
	.active {
		display: block;
	}
	.menu li a {
		text-align: left;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
	}
	.nav {
		list-style: none;
		width: 95%;
		/*position: absolute;*/
		right: 20px;
		/*background: rgba(73, 84, 91, 0.87);*/
		top: 66px;
		z-index: 111;
	}
	.social a span.fa-facebook {
    background: #3b5998;
}

.social a span.fa-twitter {
    background: #55acee;
}

.social a span.fa-youtube {
    background: rgb(255, 0, 51);
}

.social a span.fa-instagram {
    background: rgb(136, 142, 153);
}

#globalSideNavSocial .social li span{
	color: #ffffff;
    border: 1px solid #ffffff;
}

	
	.menu li a span.messages {
		text-align: center;
		top: 15px;
	}
	.nav li ul {
		width: 100%;
	}
	.menu ul {
		margin: 0;
	}
	.nav > li.hover > ul {
		width: 100%;
	}
	.nav > li {
		float: none;
		display: block;
	}
	.nav ul {
		display: block;
		width: 100%;
	}
	.nav > li.hover > ul, .nav li li.hover ul {
		position: static;
	}
	.nav li a {
		border-top: 1px solid rgba(73, 84, 91, 0.87);
	}
	.nav li:first-child a {
		border-top: none;
	}
	
	.lp-select-city-menu{
    height: 30px;
    margin: 10px 0px 10px 0px;

}
}
