/* Addition of relevant Fonts */
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	outline: none !important;
}


html, body {
  color: #656565;
  font-family: 'OpenSans-Regular', sans serif !important;
  font-size: 14px;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
    background-size: cover!important;
}

ul, ol{
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-type: none;
}

a{
	text-decoration: none;
}

a:hover,
a:focus{
	text-decoration: none;
}

/*Common functionality*/
.no-margin-right{
  margin-right: 0px;
}
.no-margin-left{
  margin-left: 0px;
}
.no-margin-top{
  margin-top: 0px;
}
.no-margin-bottom{
  margin-bottom: 0px;
}
.no-padding-bottom{
  padding-bottom: 0px;
}
.no-padding-top{
  padding-top: 0px;
}
.no-padding-right{
  padding-right: 0px;
}
.no-padding-left{
  padding-left: 0px;
}
.no-border-top-left-radius{
  border-top-left-radius: 0px !important;
}
.no-border-top-right-radius{
  border-top-right-radius: 0px !important;
}
.no-border-bottom-right-radius{
  border-bottom-right-radius: 0px !important;
}
.no-border-bottom-left-radius{
  border-bottom-left-radius: 0px !important;
}
.vertical-center{
  vertical-align: middle;
}

.gap, .semi-gap,
.quarter-gap, .gap20{
	display: block;
	width: 100%;
}
.gap{
  height: 100px;
}

.semi-gap{
  height: 50px;
}
.quarter-gap{
	height: 25px;
}

.gap20{
	height: 20px;
}

.bg-theme-color{
      background-color: #f37254;
}
.theme-color{
  color: #f37254;
}
.bg-grey {
    background-color: #EEEEEE;
}
.form-group .required:after {
  content:"*";
  color:brown;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}