div#filterRibbonParentContainer {
	z-index: 1031;
	/*display: none;*/
	overflow: hidden;
}

div#filterRibbonParentContainer.openFilterRibbon {
	/*display: block;*/
}

div#filterRibbonParentContainer .blackOut-window {
	background: #000000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 9;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	display: none;
}

div#filterRibbonParentContainer.openFilterRibbon .blackOut-window{
	display: block;
}

div#filterRibbonParentContainer #ribbonContainer {
	background: #ffffff;
	width: 300px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: -300px;
	overflow-y: hidden;
	z-index: 10;
	-webkit-transition: left 0.5s linear;
	-moz-transition: left 0.5s linear;
	-o-transition: left 0.5s linear;
	-ms-transition: left 0.5s linear;
}

div#filterRibbonParentContainer #ribbonContainer #ribbonFilterScrollview {

	position: absolute;
	top: 110px;
	bottom: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

div#filterRibbonParentContainer #ribbonContainer #ribbonFilterViewport {
	width: 100%;
	padding: 0 30px;
}

div#filterRibbonParentContainer.openFilterRibbon #ribbonContainer.animate {
	left: 0px;
	-webkit-transition: left 0.5s linear;
	-moz-transition: left 0.5s linear;
	-o-transition: left 0.5s linear;
	-ms-transition: left 0.5s linear;
}

.ribbonSpecificStyling {
	position: absolute;
	top: 70px;
	left: 40px;
}

#ribbonHeader {
	position: absolute;
	height: 50px;
	width: 100%;
	background: #f37254;
}

#ribbonCollapse {
	position: absolute;
	bottom: 0px;
	top: 50px;
	right: 0px;
	width: 60px;
	background: #EEEEEE;
}

#ribbonCollapse a {
	display: block;
	height: 100%;
	width: 100%;
}

#ribbonCollapse a .collapse-icon {
	font-size: 60px;
	color: #656565;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15% 0 0 -25%;
	display: inline-block;
}
