<div id="filterRibbonParentContainer" data-ng-class="vm.openFilterRibbon ? 'openFilterRibbon' : ''">	
<div id="globalPopupBlackOut" class="blackOut-window" ng-click="vm.filterRibbonButtonHandler();"></div>
<div id='ribbonContainer' data-ng-class="vm.openFilterRibbon ? 'animate' : ''">
	<div id="ribbonHeader"></div>
	<div class="ribbon-search-button form-group text-center ribbonSpecificStyling">
		
					<md-button class="md-fab filter-btn" aria-label="Filter" ng-click="vm.filterResults();vm.filterRibbonButtonHandler();">
            <i class="material-icons" style="vertical-align: middle">filter_list</i>
            <p style="text-transform: initial; color: #EE3E20;">Filter</p>
        </md-button>
        
        <md-button class="md-fab clear-btn" aria-label="Clear" ng-click="vm.resetFilters();">
            <i class="material-icons" style="vertical-align: middle">clear_all</i>
            <p style="text-transform: initial; color: rgba(0,0,0,0.87);">Clear</p>
        </md-button>
		
		<!--<md-button class="md-primary md-raised filter-btn" ng-click="vm.filterResults();vm.filterRibbonButtonHandler();" style="min-width: 65px">Filter</md-button>			
			<md-button class="md-raised" ng-click="vm.resetFilters();" style="min-width: 65px">Reset</md-button>-->
		<!--<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent filter-btn" ng-click="vm.filterResults();vm.filterRibbonButtonHandler();">Filter</button>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect reset-btn" ng-click="vm.resetFilters();">Reset</button>	-->		
	</div>
<div id='ribbonFilterScrollview'>
	<div id='ribbonFilterViewport'>
		
	<div data-ng-include="'views/data/filterContent.html'" ></div>

</div>
</div>
<div id="ribbonCollapse">
	<a href="" ng-click="vm.filterRibbonButtonHandler();">
		<span class="fa fa-angle-left collapse-icon"></span>
	</a>
</div>
</div>
</div>
