
<footer class="col-xs-12" id ="footer">
   <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
      <a href='/' class="footer-logo-anchor">
      <span class="logo"><img class="img" src="/images/lp_main_logo.png"/></span>
      </a>
      <div class="h3">Welcome to Le Partycious</div>
      <p class="info">We are an online platform for providing information about various vendors- venues, caterers, photographers, decorators who are capable of making your party a huge success. So if you want to host a party, just let us know how you want your party to be and we will provide you vendors that suits your requirement and budget.</p>
      <p class="connect">Connect With Us</p>
      <ul class="social">
         <li>
            <a target="_blank" href="https://www.facebook.com/LePartycious">
            <span class="fa fa-facebook"></span>
            </a>
         </li>
         <li>
            <a target="_blank" href="https://twitter.com/lepartycious">
            <span class="fa fa-twitter"></span>
            </a>
         </li>
         <li>
            <a target="_blank" href="https://www.youtube.com/channel/UC-VL9PRSgYJF9L_XDUrYpzA">
            <span class="fa fa-youtube"></span>
            </a>
         </li>
         <li>
            <a target="_blank" href="https://instagram.com/lepartycious">
            <span class="fa fa-instagram"></span>
            </a>
         </li>
      </ul>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1">
      <div class="h4"> COMPANY</div>
      <div class="row">
         <div class="col-xs-12">
            <ul>
               <a href="/aboutus">
                  <li>About Us</li>
               </a>
               <a href="#" ng-click="vm.openContactForm();">
                  <li>Contact Us</li>
               </a>
               <a href="/faq">
                  <li>FAQs</li>
               </a>
               <!--
               <a href="#">
                                 <li>T & C</li>
                              </a>-->
               
            </ul>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-2">
      <div class="h4">NEED HELP?</div>
      <ul>
         <li>Call us on</li>
         <a href='tel:+917222034001'><li itemprop="telephone">
            <strong>+917222034001</strong>
         </li></a>
         <li>or</li>
         <li>Write to us</li>
         <a href="mailto:lepartycious@gmail.com"><li itemprop="email"><strong>lepartycious@gmail.com</strong></li></a>
      </ul>
   </div>
   <div class="gap20"></div>
   <div class="col-xs-12 lp-copyrights text-center">
   	&copy; 2016 Le Partycious ALL RIGHTS RESERVED
   </div>
</footer>
<div data-ng-include="'views/home/contactus.html'"></div>