<div id="checkAvailabilityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  ng-click="vm.closeAvailabilityForm();" aria-hidden="true">×</button>
        <h3 id="myModalLabel">BOOKING ENQUIRY FOR <i>{{vm.detailedData.name}}</i></h3>
        
      </div>
      <div class="modal-body">
        <form name="form.availabilityForm" class="col-sm-12" novalidate>
        	<!--<span style="color:brown;">All Fields marked with * are mandatory.</span>-->
        <div class="form-group" style="margin-top:10px;"><label class="required">Name</label><input class="form-control required" placeholder="Your name" type="text" ng-model="vm.availabilityForm.name" name="name" required>
          <span style="color:brown;" ng-show="(form.availabilityForm.name.$touched || vm.submitted) && form.availabilityForm.name.$invalid">Name is mandatory.</span>
      	</div>


        <div class="form-group"><label class="required">Booking Date:</label><datepicker date-format="MM/dd/yyyy" date-min-limit="new Date()"><input class="form-control required" placeholder="Book for.." type="text" ng-model="vm.availabilityForm.bookingDate" name="bookingDate" required></datepicker>
            <div style="color:brown;" ng-show="(form.availabilityForm.bookingDate.$touched || vm.submitted) && form.availabilityForm.bookingDate.$invalid">Booking Date is mandatory.</div>
        </div>

          <div class="form-group" style="width:50%"><label>Occassion</label><input class="form-control" placeholder="Occassion(Event)" ng-model="vm.availabilityForm.occassion" name="occassion"></input>          	
          	<!--<span style="color:brown;" ng-show="(form.availabilityForm.message.$touched || vm.submitted) && form.availabilityForm.message.$invalid">Message is mandatory.</span>-->
          </div>
          
           <div class="form-group" style="width:50%"><label class="required">Gathering</label><input class="form-control" placeholder="Number of Guests" ng-model="vm.availabilityForm.gathering" name="gathering" required ng-pattern="/^[0-9]{1,4}$/"></input>
          	<span style="color:brown;" ng-show="(form.availabilityForm.gathering.$touched || vm.submitted) && form.availabilityForm.gathering.$invalid">Gathering is mandatory.</span>
          	<span style="color:brown;" ng-show="form.availabilityForm.gathering.$touched && form.availabilityForm.gathering.$error.pattern">Gathering should be a number</span>
          </div>

          <div class="form-group"><label>E-Mail</label><input class="form-control email" placeholder="email@you.com (so that we can contact you)" type="email" name="email" ng-model="vm.availabilityForm.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
          	<span style="color:brown;" ng-show="form.availabilityForm.email.$touched && form.availabilityForm.email.$error.pattern">Email is invalid.</span>
          </div>

          <div class="form-group"><label>Phone</label><input class="form-control phone" type="text" ng-model="vm.availabilityForm.phoneNumber" placeholder="Your Contact Number" name="phone" ng-pattern="/^[0-9]{10}$/">
          	<span style="color:brown;" ng-show="form.availabilityForm.phone.$touched  && form.availabilityForm.phone.$error.pattern">Phone is Invalid.</span>
          </div>

          <span style="color:brown;" ng-if="!vm.isFormValid">Email or Phone is mandatory</span>

          <div class="form-group"><label class="required">Test your math skill</label>
          	<div id="captcha1">
          	
          	</div>
            <span style="color:brown;" ng-show="vm.submitted && !captchaValid">Captcha is Invalid.</span>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" ng-click="vm.submitted=true;form.availabilityForm.$valid && captchaValid && vm.validateAvailabilityForm() && vm.checkAvailability();" class="btn btn-success">Submit</button>
        <button class="btn pull-right" ng-click="vm.closeAvailabilityForm();" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>
