<div class="" data-ng-controller='detailController as vm'>
	<div id="coverPage" class="detail-cover text-center" data-ng-click="vm.openGallery();">
		<button class="btn btn-default-white view-gallery-btn">View Gallery</button>
		</div>
<div class="row">
	<div class="details-container row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-6">
			<div class="row">
				<h2 class="details-name">Hotel Western Court</h2>
				<div class="details-address">
					SCO:###, Near Hanumanji Chowk
				</div>
				<div class="details-city">
					Panchkula, Haryana
				</div>
				<div class="details-telephone">
					09876543210, 0172-123456
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row bg-grey">
	<div class="gap20"></div>
	<div class="col-xs-12 col-sm-offset-1 col-sm-6">
		<div class="row">
			<!--Adding Description for the vendor-->
			<div class="pamphlet-container details-pamphlet">
				<div class="pamphlet-header">
					<div class="pamphlet-title">
						why party at <span class="name">Hotel Western Court</span>
					</div>
				</div>
				<div class="pamphlet-body">
					A fine budget hotel in Sector 10 of Panchkula, Hotel Western Court offers a spectacular view of the entire cityscape. Hushed surroundings, opulent interiors and impeccable service best describe this hotel. Pamper yourself at the fancy coffee shop or gorge on the extensive list of options offered at the on-site restaurant.
				</div>
			</div>
			<!--Adding Amenities and Services-->
			<div class="pamphlet-container details-pamphlet amenities-services">
				<div class="pamphlet-header">
					<div class="pamphlet-title">
						Amenities &amp; Services
					</div>
				</div>
				<div class="pamphlet-body">
					<ul class="nav nav-tabs nav-justified">
						<li class="active lp-tabs">
							<a data-target="#tab1" data-toggle="tab" href="javascript:void(0)">Services</a>
						</li>
						<li class="lp-tabs">
							<a data-target="#tab2" data-toggle="tab" href="javascript:void(0)">Room</a>
						</li>
						<li class="lp-tabs" data-toggle="tab">
							<a data-target="#tab3" data-toggle="tab" href="javascript:void(0)">Food</a>
						</li>
					</ul>
					<div class="lp-tabs-content">
						<div class="tab-content">
							<div class="tab-pane lp-tab-pane active" id="tab1">
								<ul>
									<li class="w2">
										High-speed Wi-Fi Internet
									</li>
									<li class="w2">
										CCTV Surveillance
									</li>
									<li class="w2">
										Drinks Available
									</li>
									<li class="w2">
										Serves Food
									</li>
									<li class="w2">
										Conference Hall
									</li>
									<li class="w2">
										Laundry Service
									</li>
									<li class="w2">
										Smoking Allowed
									</li>
									<li class="w2">
										Wake-up Calls
									</li>
									<li class="w2">
										Doctor-on-call
									</li>
									<li class="w2">
										Smart Keys
									</li>
									<li class="w2">
										Room Service
									</li>
								</ul>
							</div>
							<div class="tab-pane lp-tab-pane" id="tab2">
								<ul>
									<li class="w2">
										Air-Conditioning
									</li>
									<li class="w2">
										Nightlamp
									</li>
									<li class="w2">
										Flat Screen TV
									</li>
									<li class="w2">
										Comfy 6 Inch Mattress
									</li>
									<li class="w2">
										24-hour Hot &amp; Cold Water
									</li>
									<li class="w2">
										Shower Facilities
									</li>
									<li class="w2">
										Business Desk
									</li>
								</ul>
							</div>
							<div class="tab-pane lp-tab-pane" id="tab3">
								<ul>
									<li class="w2">
										Free Breakfast
									</li>
									<li class="w2">
										Outside Food Allowed
									</li>
									<li class="w2">
										Serves Alcohol
									</li>
									<li class="w2">
										Serves Non-veg
									</li>
									<li class="w2">
										North Indian
									</li>
									<li class="w2">
										Asian
									</li>
									<li class="w2">
										Continental
									</li>
									<li class="w2">
										Chinese
									</li>
									<li class="w2">
										Fast Food
									</li>
									<li class="w2">
										South Indian
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-ng-include="'views/gallery/gallery.html'"></div>
</div>