<div class="" data-ng-controller='detailController as vm'>
	<div id="coverPage" class="detail-cover text-center" data-ng-click="vm.openGallery();">
		<button class="btn default-white-btn view-gallery-btn">View Gallery</button>
		</div>
<div class="row">
	<div class="details-container row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-6">
			<div class="row">
				<h2 class="details-name">Hotel Western Court</h2>
				<div class="details-address">
					SCO:###, Near Hanumanji Chowk
				</div>
				<div class="details-city">
					Panchkula, Haryana
				</div>
				<div class="details-telephone">
					09876543210, 0172-123456
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row bg-grey">
	<div class="gap20"></div>
	<div class="col-xs-12 col-sm-offset-1 col-sm-6">
		<div class="row">
			<!--Adding Description for the vendor-->
			<div class="pamphlet-container details-pamphlet">
				<div class="pamphlet-header">
					<div class="pamphlet-title">
						why party at <span class="name">Hotel Western Court</span>
					</div>
				</div>
				<div class="pamphlet-body">
					A fine budget hotel in Sector 10 of Panchkula, Hotel Western Court offers a spectacular view of the entire cityscape. Hushed surroundings, opulent interiors and impeccable service best describe this hotel. Pamper yourself at the fancy coffee shop or gorge on the extensive list of options offered at the on-site restaurant.
				</div>
			</div>
			<!--Adding Amenities and Services-->
			<div class="pamphlet-container details-pamphlet amenities-services">
				<div class="pamphlet-header">
					<div class="pamphlet-title">
						<span class="fa fa-fw fa-cog"></span>
						Amenities &amp; Services
					</div>
				</div>
				<div class="pamphlet-body" data-ng-show="vm.selectedCategory == 'VENUE'">
					<ul class="nav nav-tabs nav-justified">
						<li class="active lp-tabs">
							<a data-target="#tab1" data-toggle="tab" href="javascript:void(0)">Services</a>
						</li>
						<li class="lp-tabs">
							<a data-target="#tab2" data-toggle="tab" href="javascript:void(0)">Room</a>
						</li>
						<li class="lp-tabs" data-toggle="tab">
							<a data-target="#tab3" data-toggle="tab" href="javascript:void(0)">Banquet Halls</a>
						</li>
					</ul>
					<div class="lp-tabs-content">
						<div class="tab-content">
							<div class="tab-pane lp-tab-pane active" id="tab1">
								<ul>
									<li class="w2">
										<span class="fa fa-fw fa-wifi"></span>
										 High-speed Wi-Fi Internet
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-video-camera"></span>
										CCTV Surveillance
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-glass"></span>
										Drinks Available
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-cutlery"></span>
										Serves Food
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-bank"></span>
										Conference Hall
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-male"></span>
										Laundry Service
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-heartbeat"></span>
										Smoking zone
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-stethoscope"></span>
										Doctor-on-call
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-key"></span>
										Smart Keys
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-shopping-cart"></span>
										Room Service
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-tags"></span>
										Vallet Parking
									</li>
									<li class="w2">
										<span class="fa fa-fw fa-signal"></span>
										Inhouse DJ
									</li>
								</ul>
							</div>
							<div class="tab-pane lp-tab-pane" id="tab2">
								<ul>
									<li class="w2">
										Air-Conditioning
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
									<li class="w2">
										
										Nightlamp
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
									<li class="w2">
										Flat Screen TV
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
									<li class="w2">
										Comfy 6 Inch Mattress
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
									<li class="w2">
										24-hour Hot &amp; Cold Water
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
									<li class="w2">
										Shower Facilities
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
									<li class="w2">
										Business Desk
										<span class="fa fa-fw fa-check-square color-green"></span>
									</li>
								</ul>
							</div>
							<div class="tab-pane lp-tab-pane" id="tab3">
								<ul>
									<li class="w2">
										Number of Banquet Halls 3
									</li>
									<li class="w2">
										Booking Price <span class="fa fa-fw fa-inr"></span>1,00,000 
									</li>
									<li class="w2">
										A/C <span class="fa fa-fw fa-check-square color-green"></span> 
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
					<!-- Adding recommended section for the User -->
					
			<div class="pamphlet-container recommended-pamphlet">
								<div class="pamphlet-header recommended-pamphlet-header">
					<div class="pamphlet-title recommended-pamphlet-title">Recommended by Us</div>
				</div>
				
				<!-- ng-repeat goes from here for all the recommended items -->
				<div class="recommended-pamphlet-container">
				<div class="pamphlet-header recommended-pamphlet-image">
					<img src="http://localhost:9001/images/BrooklynCentral.jpg" alt="cover-photo" class="vertical-center">
				</div>
				<div class="pamphlet-body recommended-pamphlet-desc">
								<div class="pamphlet-title col-xs-12 text-center ng-binding lineHeight30">
									Brooklyn Central
								</div>
							</div>
							<div class="pamphlet-footer"></div>
			</div>
			
			<div class="recommended-pamphlet-container">
				<div class="pamphlet-header recommended-pamphlet-image">
					<img src="http://localhost:9001/images/BrooklynCentral.jpg" alt="cover-photo" class="vertical-center">
				</div>
				<div class="pamphlet-body recommended-pamphlet-desc">
								<div class="pamphlet-title col-xs-12 text-center ng-binding lineHeight30">
									Brooklyn Central
								</div>
							</div>
							<div class="pamphlet-footer"></div>
			</div>
			
			<div class="recommended-pamphlet-container">
				<div class="pamphlet-header recommended-pamphlet-image">
					<img src="http://localhost:9001/images/BrooklynCentral.jpg" alt="cover-photo" class="vertical-center">
				</div>
				<div class="pamphlet-body recommended-pamphlet-desc">
								<div class="pamphlet-title col-xs-12 text-center ng-binding lineHeight30">
									Brooklyn Central
								</div>
							</div>
							<div class="pamphlet-footer"></div>
			</div>
			</div>
		
	</div>
</div>

<div data-ng-include="'views/gallery/gallery.html'"></div>
</div>