<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <base href="/"></base> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>LePartycious - Your Online Event Planner</title>
    <meta name="description" content="LePartycious is an online event planning platform which provides you with the relevant information about different vendors- venues, caterers, photographers, decorators and much more. Its all about bringing all the vendors under
	one roof so that they coordinate well and work towards a success story of an event." />
    <meta name="geo.region" content="India" />
	<meta name="robots" content="index,follow" />
	<meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
	<meta name="language" content="English" />
	<meta name="country" content="India" />
	<meta name="robots" content="ALL" />
	<meta http-equiv="content-language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="lepartycious">
    <meta name="copyright" content="LePartycious - 2016" />
    <meta name="fragment" content="!"/>
    <meta property="og:title" content="LePartycious - Your Online Event Planner" />
	<meta property="og:description" content="LePartycious is an online platform for organising events which provides you with the relevant information about different venues, caterers, photographers, decorators and much more. Its all about bringing all the vendors under
	one roof so that they coordinate well and work towards a success story of an event." />
	<meta property="og:image" content="http://www.lepartycious.com/images/lp_main_logo.png" />
	<meta property="og:url" content="http://www.lepartycious.com" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!-- Material Icons -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-wizard/dist/angular-wizard.min.css" />
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    
    <!-- including the css for jquery-ui -->
    <link rel="stylesheet" href="styles/custom/jquery-ui.css"/>
    <link rel="stylesheet" href="styles/custom/font-awesome.css"/>
    <link rel="stylesheet" href="styles/custom/awesome-bootstrap-checkbox.css"/>
    <link rel="stylesheet" href="styles/custom/jquery-fs-boxer.css"/>
    <link rel="stylesheet" href="styles/custom/ng-rating.css"/>
    <link rel="stylesheet" href="styles/custom/wan-select.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/ribbon.css">
    <link rel="stylesheet" href="styles/data.css">
    <link rel="stylesheet" href="styles/detail.css">
    <link rel="stylesheet" href="styles/gallery.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/login.css">
    
    <link rel="stylesheet" href="lp_wizard/styles/wizard.css">


    <!-- endbuild -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73821009-1', 'auto');

      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();

     function onLoadCallback()
        {
            gapi.client.setApiKey('AIzaSyADFArkuweaKWJ8OYjUoQmyRMc1WBh_rGQ');
            gapi.client.load('plus', 'v1',function(){});
        }

       
     window.fbAsyncInit = function() {
    FB.init({
      appId      : '1490864197597595',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


    </script>
    

  </head>
  <body data-ng-app="leparticiousUiApp" data-ng-controller="baseController as vm" data-ng-class="currentPage">
  	<div id="lepartycious-app-main">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '220624161637882',
          xfbml      : true,
          version    : 'v2.5'
        });
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>-->
    

    <!-- Add your site or application content here new -->
    <!-- Loader Screen for the application -->
        <!--<div class="loader-screen" data-ng-if="vm.showLoaderScreen">
    	<span us-spinner="{color: 'rgb(243, 114, 84)'}" spinner-key="home-page-spinner" spinner-start-active="true"></span>
    	</div>-->
    
    <!--Adding the header component of the application-->
    
    <div data-ng-include="'views/header/header.html'" data-ng-show="true"></div>
    
    <!--Adding the cover Page of the application-->
    
    <div data-ng-include="'views/cover/cover.html'" data-ng-if="showCover"></div>
    
    <!--Adding breadcrumb to the page-->
    
<!--
    <div class="lp-global-breadcrumb" data-ng-hide="breadCrumbLinks | isEmpty">
    	<ul>
    		<li data-ng-repeat="(key, value) in breadCrumbLinks">
    			<span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;</span><a href="{{value}}">{{key}}</a> 
    		</li>
    	</ul>
    </div>

-->
	<!--Adding the main body of the application-->
      
      <div data-ng-view=""></div>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/Swiper/dist/js/swiper.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="bower_components/spring-security-csrf-token-interceptor/src/spring-security-csrf-token-interceptor.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/rxjs/dist/rx.all.js"></script>
    <script src="bower_components/rx-angular/dist/rx.angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/custom/jquery.fs.boxer.js"></script>
        <script src="scripts/custom/jquery.toaster.js"></script>
        <script src="scripts/custom/ng-rating.js"></script>
        <script src="scripts/custom/wan-select.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/home/homeRoute.js"></script>
        <script src="scripts/home/homeController.js"></script>
        <script src="scripts/home/homeFactory.js"></script>
        <script src="scripts/common/constants.js"></script>
        <script src="scripts/common/directives.js"></script>
        <script src="scripts/common/filters.js"></script>
        <script src="scripts/common/baseFactory.js"></script>
		<script src="scripts/common/baseController.js"></script>
        <script src="scripts/data/dataController.js"></script>
        <script src="scripts/data/dataService.js"></script>
        <script src="scripts/data/dataFactory.js"></script>
        <script src="scripts/contact/contactFactory.js"></script>
        <script src="scripts/common/captchaDirective.js"></script>
        <script src="scripts/common/config.js"></script>
        <script src="scripts/common/loggedInUserDetails.js"></script>
        <script src="scripts/common/userDetailsStore.js"></script>
        <script src="scripts/common/loginStatusService.js"></script>
        <script src="scripts/common/progressbarService.js"></script>
        <script src="scripts/detail/detailController.js"></script>
        <script src="scripts/detail/detailFactory.js"></script>
        <script src="scripts/login/loginController.js"></script>
        <script src="scripts/login/signupController.js"></script>
        <script src="scripts/login/fgtpwdController.js"></script>
        <script src="scripts/login/resetpwdController.js"></script>
        
        <script src="lp_wizard/scripts/app.js"></script>
        <script src="lp_wizard/scripts/wizardController.js"></script>
        <script src="lp_wizard/views/venue_wizard/services/crudEventArea.service.js"></script>
        <script src="lp_wizard/views/venue_wizard/services/crudRoom.service.js"></script>
        
        <script src="lp_wizard/lookups/venue_lookup.js"></script>
        <script src="scripts/login/loginFactory.js"></script>
        <!-- endbuild -->

         <!-- loading google map api in async and defer mode -->
        <script src="http://maps.googleapis.com/maps/api/js" async defer></script>
        
    
    
	<a href="javascript:void(0)" id="back-to-top">
		<img src="/images/arrow_up.png" width="50"  data-toggle="tooltip" title="Back to Top" alt="LePartycious-top-btn"/>
	</a> 
    
    <!--Adding the footer of the application-->
    
    <div data-ng-include="'views/footer/footer.html'" data-ng-show="vm.showFooter"></div>  
    
    <!-- Adding Global Side Navigation -->
    
    <div data-ng-include="'views/globalSideNav/globalSideNav.html'"></div>


	<global-progressbar show-progressbar="vm.showProgressbar"></global-progressbar>
	
</div>
</body>
</html>
