<!doctype html>
<html>
  <head>
    <base href="/"></base> 
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    
    <!-- including the css for jquery-ui -->
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/home/home.css">
    <link rel="stylesheet" href="styles/ribbon.css">
    <link rel="stylesheet" href="styles/data.css">
    <link rel="stylesheet" href="styles/detail.css">
    <link rel="stylesheet" href="styles/gallery.css">
    <link rel="stylesheet" href="styles/about.css">
    <!-- endbuild -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73821009-1', 'auto');

    </script>

  </head>
  <body ng-app="leparticiousUiApp" data-ng-controller="baseController as vm">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here new -->
    <!-- Loader Screen for the application -->
        <div class="loader-screen" data-ng-if="vm.showLoaderScreen">
    	<span us-spinner="{color: 'rgb(243, 114, 84)'}" spinner-key="home-page-spinner" spinner-start-active="true"></span>
    	</div>
    
    <!--Adding the header component of the application-->
    
    <div data-ng-include="'views/header/header.html'" data-ng-show="true"></div>
    
    <!--Adding the cover Page of the application-->
    
    <div data-ng-include="'views/cover/cover.html'" data-ng-if="showCover"></div>

	<!--Adding the main body of the application-->
      
      <div ng-view=""></div>


   


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/Swiper/dist/js/swiper.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/home/homeRoute.js"></script>
        <script src="scripts/home/homeController.js"></script>
        <script src="scripts/home/homeFactory.js"></script>
        <script src="scripts/common/constants.js"></script>
        <script src="scripts/common/directives.js"></script>
        <script src="scripts/common/baseFactory.js"></script>
		<script src="scripts/common/baseController.js"></script>
        <script src="scripts/data/dataController.js"></script>
        <script src="scripts/data/dataService.js"></script>
        <script src="scripts/home/homeService.js"></script>
        <script src="scripts/data/dataFactory.js"></script>
        <script src="scripts/contact/contactFactory.js"></script>
        <script src="scripts/common/captchaDirective.js"></script>
        <script src="scripts/common/config.js"></script>
        <script src="scripts/detail/detailController.js"></script>
        <script src="scripts/gallery/galleryController.js"></script>
        
       
        <!-- endbuild -->

         <!-- loading google map api in async and defer mode -->
        <script src="http://maps.googleapis.com/maps/api/js" async defer></script>
        
    <!-- <side-ribbon ></side-ribbon> -->
    
    <!--Adding the ribbon of the application-->
    
    <div data-ng-include="'views/ribbon/ribbon.html'" data-ng-show="false"></div>  
    
    <!--Adding the footer of the application-->
    
    <div data-ng-include="'views/footer/footer.html'" data-ng-show="vm.showFooter"></div>  

</body>
</html>
