<!-- LePartycious section starts -->
<section class="container text-center">
	<h2 class="theme-color">WELCOME TO LE PARTYCIOUS</h2>
	<p>
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
</section>
<!-- Services section starts -->
<section class="row bg-grey">
	<div class="container text-center">
		<div class="h2 theme-color">
			WHAT DO WE HAVE FOR YOU
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-venue-icon lp-sprite"></span>
			</div>
			<h3>VENUES</h3>
			<p>
				A perfect venue for you
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-decor-icon lp-sprite"></span>
			</div>
			<h3>DECORATION</h3>
			<p>
				Because theme matters
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-caterer-icon lp-sprite"></span>
			</div>
			<h3>CATERERS</h3>
			<p>
				Delicious options to choose from
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-photography-icon lp-sprite"></span>
			</div>
			<h3>PHOTOGRAPHY</h3>
			<p>
				Reliving the memories
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-rental-icon lp-sprite"></span>
			</div>
			<h3>RENTAL</h3>
			<p>
				Renting things is easy now
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-hospitality-icon lp-sprite"></span>
			</div>
			<h3>HOSPITALITY</h3>
			<p>
				A warm welcome
			</p>
		</div>
	</div>
</section>
<!-- Portfolio section starts -->
<section class='portfolioSlider row text-center'>
	<div class="h2 theme-color">OUR PORTFOLIO</div>
	<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/6)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/7)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/8)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/9)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/10)"></div>
    </div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    

</div>
	
</section>



<div class="container">
  <div class="row">
    
    <h1 class="text-center"><a href="" ng-click="vm.openContactForm();" class="btn btn-primary btn-lg">Contact Us</a></h1>
    
  </div>
</div>

<div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">We'd Love to Serve You</h3>
      </div>
      <div class="modal-body">
        <form name="contactForm" class="col-sm-12">
        	<span style="color:brown;">All Fields marked with * are mandatory.</span>
        <div class="form-group" style="margin-top:10px;"><label class="required">Name</label><input class="form-control required" placeholder="Your name" type="text" ng-model="vm.contactForm.name" name="name" required>
          <span style="color:brown;" ng-show="contactForm.name.$touched && contactForm.name.$invalid">Name is mandatory.</span>
      	</div>

          <div class="form-group"><label class="required">Message</label><textarea class="form-control" placeholder="Your message here.." ng-model="vm.contactForm.message" name="message" required></textarea>
          	<span style="color:brown;" ng-show="contactForm.message.$touched && contactForm.message.$invalid">Message is mandatory.</span>
          </div>

          <div class="form-group"><label>E-Mail</label><input class="form-control email" placeholder="email@you.com (so that we can contact you)" type="email" name="email" ng-model="vm.contactForm.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
          	<span style="color:brown;" ng-show="contactForm.email.$touched && contactForm.email.$error.pattern">Email is invalid.</span>
          </div>

          <div class="form-group"><label class="required">Phone</label><input class="form-control phone" type="text" ng-model="vm.contactForm.phoneNumber" placeholder="Your Contact Number" name="phone" required ng-pattern="/^[0-9]{10}$/">
          	<span style="color:brown;" ng-show="contactForm.phone.$touched && contactForm.phone.$error.required">Phone is mandatory.</span>
          	<span style="color:brown;" ng-show="contactForm.phone.$touched && contactForm.phone.$error.pattern">Phone is Invalid.</span>
          </div>

          <div class="form-group"><label class="required">Test your math skill</label>
          	<div>
          		<simple-captcha valid="captchaValid"></simple-captcha>
          	</div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" ng-click="contactForm.$valid && captchaValid &&vm.submitEnquiry(vm.contactForm, contactForm);" class="btn btn-success">Enquire!</button>
        <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>