<!-- Recently Added section starts -->
<section class="text-center bg-grey row">
	<h2 class="theme-color">RECENTLY ADDED</h2>
	<div ng-repeat="(key, value) in vm.recentlyAddedData">
		{{key}}
		<ul class="recently-added-list">
			<li ng-repeat="data in value"><a href='javascript:void(0)' ng-click="vm.fetchDetails(data.name, data.category)">{{data.name}}</a><br>{{data.locality}}, {{data.city}}</li>
		</ul>
	</div>
</section>
<!-- LePartycious section starts -->
<section class="container text-center">
	<h2 class="theme-color">WELCOME TO LE PARTYCIOUS</h2>
	<p>
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
</section>
<!-- Services section starts -->
<section class="row bg-grey">
	<div class="container text-center">
		<div class="h2 theme-color">
			WHAT DO WE HAVE FOR YOU
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-venue-icon lp-sprite"></span>
			</div>
			<h3>VENUES</h3>
			<p>
				A perfect venue for you
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-decor-icon lp-sprite"></span>
			</div>
			<h3>DECORATION</h3>
			<p>
				Because theme matters
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-caterer-icon lp-sprite"></span>
			</div>
			<h3>CATERERS</h3>
			<p>
				Delicious options to choose from
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-photography-icon lp-sprite"></span>
			</div>
			<h3>PHOTOGRAPHY</h3>
			<p>
				Reliving the memories
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-rental-icon lp-sprite"></span>
			</div>
			<h3>RENTAL</h3>
			<p>
				Renting things is easy now
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div>
				<span class="lp-hospitality-icon lp-sprite"></span>
			</div>
			<h3>HOSPITALITY</h3>
			<p>
				A warm welcome
			</p>
		</div>
	</div>
</section>
<!-- Portfolio section starts -->
<section class='portfolioSlider row text-center'>
	<div class="h2 theme-color">OUR PORTFOLIO</div>
	<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/6)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/7)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/8)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/9)"></a>
            <a class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/10)"></a>
    </div>
    
    <!-- If we need navigation buttons -->
    <a href="javascript:void(0)" class="swiper-button-prev"></a>
    <a href="javascript:void(0)" class="swiper-button-next"></a>
    

</div>
	
</section>