<md-card  class="mLeft15 mRight15 marginTopBottom20">
<form name="reviewForm">
<div layout="column" layout-padding>
	<div layout="row" layout-align="start center">
	<div flex="40" class="md-title">Rate this vendor:</div> 
	<ng-rating ng-model="vendorRating" editable="editable" show-grade="showGrade" stars-count="starsCount"></ng-rating>
	</div>
	<div>
		<textarea ng-model="reviewComment" aria-label="Review Comment" placeholder="Share your experience with us..." layout-fill style="min-height: 100px;" required></textarea>
	</div>
	<div>
		<md-input-container class="md-block">
						<input ng-model="reviewMoney"  name="money" type="number" placeholder="Tell us your spendings on this vendor (Optional)">				
					</md-input-container>
	</div>
	<div>
		<md-button class="md-raised md-primary" ng-click="submitReview();">Submit</md-button>
	</div>
</div>
</form>

</md-card>