
<div class='row data-list'>
	<div class='col-xs-12 col-sm-3' ng-if="vm.resultList.length > 0">
		<div class='col-xs-12'>
			<h4 class='theme-color'>FILTERS</h4>
			<div class="filters">
				<div data-ng-include="'views/data/filters.html'"></div>
			</div>
		</div>
	</div>
	<!-- Adding the list section -->
	
	<div class='col-xs-12 col-sm-9 bg-grey' ng-if="vm.resultList.length > 0">
			<div class='col-xs-12'>
				<!--
				<div class='col-xs-12'>
									<div class='col-xs-12'>-->
				
						<h2 class="h3"> Showing <div class="results-number">{{vm.setFromRecord}}-{{vm.setToRecord}} of {{vm.totalRecords}} records</div></h2>
						
						
						
						<div class="gap20"></div>
					<!--
					</div>
						
									</div>-->
					
			</div>
			
	
		<div dir-paginate="result in vm.resultList | itemsPerPage : pageSize" current-page="currentPage" pagination-id="dataPagination" total-items="vm.totalRecords" class='col-md-6 data-page-record'>
					
					
					
						<a href="" ng-click="vm.fetchDetails(result.name);" class="pamphlet-anchor">
						<div class="pamphlet-container">
							<div class="pamphlet-header">
								<img src="{{vm.getImageURL(result.mainImagerURL)}}" alt='cover-photo' class="vertical-center"></img>
							</div>
							<div class="pamphlet-body">
								<div class="pamphlet-title col-xs-12 text-center">
									<div class="row">
									<div class="col-xs-8 text-left pamphlet-title-desc"><div>{{result.name}}</div><span class="pamphlet-title-city">Chandigarh</span></div>
									<div class="col-xs-4 text-left pamphlet-title-price border-left-1px"><div>Starts from</div><span class="fa fa-fw fa-inr theme-color"></span><span class="pamphlet-title-rate theme-color">1,00,000</span></div>
								</div>
								</div>
							</div>
							<div class="pamphlet-footer"></div>
						</div> </a>
					


		</div>

	</div>
	
	<!-- For Handling No Record Found Page -->
			<div class="no-records-found col-xs-12" ng-if="vm.resultList.length == 0">
							<div>
								<h2>No Results Found!!</h2>
								<img src="/images/no_content-found_image.png" height="250px;"/>
								
								<h4>Please try something else</h4>
								<a href="/">Back to Home</a>
							</div>
						</div>
</div>

<dir-pagination-controls boundry-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/templates/dirPagination.tpl.html" pagination-id="dataPagination" ng-if="vm.resultList.length > 0"></dir-pagination-controls>



