
<div class='row'>
	<div class='col-xs-12 col-sm-3'>
		<div class='col-xs-12'>
			<h4 class='theme-color'>FILTERS</h4>
			<div class="filters">
				<div data-ng-include="'views/data/filters.html'"></div>
			</div>
		</div>
	</div>
	<!-- Adding the list section -->
	
	<div class='col-sm-9 bg-grey'>
			<div class='col-xs-12'>
				<div class='col-xs-12'>
					<div class='col-xs-12'>
						<h2 class="h3"> Showing <div class="results-number"></div></h2>
						<div class="gap20"></div>
					</div>
	
				</div>
			</div>
	
		<div dir-paginate="result in vm.resultList | itemsPerPage : pageSize" current-page="currentPage" pagination-id="dataPagination" total-items="vm.totalRecords" class='col-md-6'>
					
					
					
						<a href="" ng-click="vm.fetchDetails(result.name);" class="pamphlet-anchor">
						<div class="pamphlet-container">
							<div class="pamphlet-header">
								<img src="{{vm.getImageURL(result.mainImagerURL)}}" alt='cover-photo' class="vertical-center"></img>
							</div>
							<div class="pamphlet-body">
								<div class="pamphlet-title col-xs-12 text-center">
									{{result.name}}
								</div>
							</div>
							<div class="pamphlet-footer"></div>
						</div> </a>
					


		</div>

		<div ng-if="vm.resultList.length == 0">No records found!</div>
		
	</div>
</div>

<dir-pagination-controls boundry-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="dataPagination"></dir-pagination-controls>



