<div>	
		<div class="ribbon-search-button form-group text-center">
		<button class="btn btn-lg btn-default filter-btn" ng-click="vm.filterResults();">Filter</button>
		<button class="btn btn-lg btn-default reset-btn"  ng-click="vm.resetFilters();">Reset</button>			
	</div>
	<hr>
	<div ng-if="vm.filters.localities.length > 0">
		<div style="margin-bottom:10px;"><a href="" ng-click="vm.showLocalityFilters = !vm.showLocalityFilters;" data-toggle="collapse" data-target="#localityDiv"><i ng-class="!vm.showLocalityFilters ? 'fa fa-plus' : 'fa fa-minus'"></a></i><b> Localities</b><!-- <i class="fa fa-globe"></i> --></div>
			<div id="localityDiv" class="collapse in">
				<div ng-class="filter.checked ? 'checkbox checkbox-primary' : 'checkbox'" ng-repeat="filter in vm.filters.localities">
				    <input ng-model='filter.checked' type='checkbox'>
				    <label for="localityCheckBoxes">
		            	<a class= "link-text-color" href="" ng-click="filter.checked = !filter.checked">{{filter.name}}</a>
		        	</label>
				</div>
			</div>
	</div>
	
	<hr>
	<div ng-if="vm.filters.establishments.length > 0">
		<div style="margin-bottom:10px;"><a href="" ng-click="vm.showEstablishmentFilters = !vm.showEstablishmentFilters;" data-toggle="collapse" data-target="#establishmentDiv"><i ng-class="!vm.showEstablishmentFilters ? 'fa fa-plus' : 'fa fa-minus'"></a></i><b> Establishment Type</b></div>
			<div id="establishmentDiv" class="collapse in">
				<div ng-class="filter.checked ? 'checkbox checkbox-primary' : 'checkbox'" ng-repeat="filter in vm.filters.establishments">
				    <input ng-model='filter.checked' type='checkbox'>
				    <label for="estCheckBoxes">
		            	<a class= "link-text-color" href="" ng-click="filter.checked = !filter.checked">{{filter.name}}</a>
		        	</label>
				</div>
			</div>
	</div>
	<hr>
	<h4 class='theme-color'>MORE FILTERS</h4>
	<hr>
	<div ng-if="vm.filters.amenities.length > 0">
		<div style="margin-bottom:10px;"><a href="" ng-click="vm.showAmenityFilters = !vm.showAmenityFilters;" data-toggle="collapse" data-target="#amenityDiv"><i ng-class="!vm.showAmenityFilters ? 'fa fa-plus' : 'fa fa-minus'"></a></i><b> Amenities</b><!-- <i class="space fa fa-building"></i> --></div>
			<div id="amenityDiv" class="collapse">
				<div ng-class="filter.checked ? 'checkbox checkbox-primary' : 'checkbox'" ng-repeat="filter in vm.filters.amenities">
				    <input ng-model='filter.checked' type='checkbox'>
				    <label for="amenityCheckBoxes">
		            	<a class= "link-text-color" href="" ng-click="filter.checked = !filter.checked">{{filter.name}}</a>
		        	</label>
				</div>
			</div>
	</div>
	<hr>
	<div ng-if="vm.filters.rooms.length > 0">
		<div style="margin-bottom:10px;"><a href="" ng-click="vm.showRoomFilters = !vm.showRoomFilters;" data-toggle="collapse" data-target="#roomDiv"><i ng-class="!vm.showRoomFilters ? 'fa fa-plus' : 'fa fa-minus'"></a></i><b> Room Type</b></div>
			<div id="roomDiv" class="collapse">
				<div ng-class="filter.checked ? 'checkbox checkbox-primary' : 'checkbox'" ng-repeat="filter in vm.filters.rooms">
				    <input ng-model='filter.checked' type='checkbox'>
				    <label for="roomCheckBoxes">
		            	<a class= "link-text-color" href="" ng-click="filter.checked = !filter.checked">{{filter.name}}</a>
		        	</label>
				</div>
			</div>
	</div>
	<hr>
	
	<div ng-if="vm.filters.services.length > 0">
		<div style="margin-bottom:10px;"><a href="" ng-click="vm.showServiceFilters = !vm.showServiceFilters;" data-toggle="collapse" data-target="#serviceDiv"><i ng-class="!vm.showServiceFilters ? 'fa fa-plus' : 'fa fa-minus'"></a></i><b> Services</b></div>
		<div id="serviceDiv" class="collapse">
			<div  ng-class="filter.checked ? 'checkbox checkbox-primary' : 'checkbox'" ng-repeat="filter in vm.filters.services">
		    	<input class="styled" ng-model='filter.checked' type='checkbox'>
		    	<label for="serviceCheckBoxes">
	            	<a class= "link-text-color" href="" ng-click="filter.checked = !filter.checked">{{filter.name}}</a>
	        	</label>
			</div>
		</div>
	</div>

	<hr>


</div>