

<div ng-if="vm.filters.localities.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseLocalitiesFilter" expand-filter="vm.showLocalityFilters" filter-heading="Localities" filter-id="localitiesDiv" filter-nodes="vm.filters.localities">
	
</div>

<div ng-if="vm.filters.establishments.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseEstablishmentsFilter" expand-filter="vm.showEstablishmentFilters" filter-heading="Establishment Type" filter-id="establishmentsDiv" filter-nodes="vm.filters.establishments">
	
</div>	

<div ng-if="vm.filters.catererType.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseCatererTypeFilter" expand-filter="vm.showCatererTypeFilters" filter-heading="Caterer Type" filter-id="catererTypeDiv" filter-nodes="vm.filters.catererType">
	
</div>	
<div ng-if="vm.filters.eventType.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseEventTypeFilter" expand-filter="vm.showEventsFilters" filter-heading="Event Type" filter-id="eventTypeDiv" filter-nodes="vm.filters.eventType">
	
</div>

<div ng-if="vm.filters.capacity.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseCapacityFilter" expand-filter="vm.showCapacityFilters" filter-heading="Max Indoor Capacity" filter-id="capacityDiv" filter-nodes="vm.filters.capacity">
	
</div>
	
<div ng-if="vm.filters.entertainmentType.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseEntertainmentTypeFilter" expand-filter="vm.showRentalFilters" filter-heading="Entertainment Type" filter-id="entertainmentTypeDiv" filter-nodes="vm.filters.entertainmentType">
	
</div>
	
	<div ng-if="vm.filters.othersType.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseOthersTypeFilter" expand-filter="vm.showOtherFilters" filter-heading="Service Type" filter-id="othersTypeDiv" filter-nodes="vm.filters.othersType">
	
</div>


	<hr ng-if="vm.filters.carType.length > 0 || vm.filters.bandType.length > 0 || vm.filters.amenities.length > 0|| vm.filters.rooms.length > 0 || vm.filters.services.length > 0 || vm.filters.priceRange.length > 0">
	<h4 ng-if="vm.filters.carType.length > 0 || vm.filters.bandType.length > 0 || vm.filters.amenities.length > 0|| vm.filters.rooms.length > 0 || vm.filters.services.length > 0 || vm.filters.priceRange.length > 0" class='theme-color'><a href="" ng-click="vm.expandCollapseMoreFilter();"><i ng-class="!vm.showMoreFilters ? 'fa fa-plus' : 'fa fa-minus'"></i></a> View More Filters</h4>

<div id="moreFilterDiv" class="collapse" >

	
<div ng-if="vm.filters.carType.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseCarTypeFilter" expand-filter="vm.showCarFilters" filter-heading="Car Type" filter-id="carTypeDiv" filter-nodes="vm.filters.carType">
	
</div>

<div ng-if="vm.filters.bandType.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseBandTypeFilter" expand-filter="vm.showBandFilters" filter-heading="Band Type" filter-id="bandTypeDiv" filter-nodes="vm.filters.bandType">
	
</div>	
	
<div ng-if="vm.filters.amenities.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseAmenitiesFilter" expand-filter="vm.showAmenityFilters" filter-heading="Amenities" filter-id="amenitiesDiv" filter-nodes="vm.filters.amenities">
	
</div>
	
<div ng-if="vm.filters.services.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapseServicesFilter" expand-filter="vm.showServiceFilters" filter-heading="Services" filter-id="servicesDiv" filter-nodes="vm.filters.services">
	
</div>

<div ng-if="vm.filters.priceRange.length > 0" filter expand-collapse-filter-functionality="vm.expandCollapsePriceRangeFilter" expand-filter="vm.showPriceFilters" filter-heading="Price Range" filter-id="priceRangeDiv" filter-nodes="vm.filters.priceRange">
	
</div>


	<hr>

</div>