<div>	
		<div class="ribbon-search-button form-group text-center">

			<md-button class="md-fab filter-btn" aria-label="Filter" ng-click="vm.filterResults();">
            <i class="material-icons" style="vertical-align: middle">filter_list</i>
            <p style="text-transform: initial; color: #EE3E20; line-height: 24px;">Filter</p>
        </md-button>
        
        <md-button class="md-fab clear-btn" aria-label="Clear" ng-click="vm.resetFilters();">
            <i class="material-icons" style="vertical-align: middle">clear_all</i>
            <p style="text-transform: initial; color: rgba(0,0,0,0.87); line-height: 24px;">Clear</p>
        </md-button>
        

		</div>
	<div data-ng-include="'views/data/filterContent.html'" ></div>

</div>

	