<div id="fgtpwdModal" class="modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  ng-click="vm.closePopup();" aria-hidden="true">×</button>
        <h3 id="myModalLabel">FORGOT YOUR DETAILS</h3>
      </div>
      <div class="modal-body">
      	
      	
        <form name="form.fgtpwdForm" class="col-sm-12" novalidate>
        	
        	
        <div class="form-group" style="margin-top:10px;"><label class="required">Email</label><input class="form-control required" placeholder="Your email address" type="email" ng-model="vm.fgtpwdForm.email" name="email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
          <span style="color:brown;" ng-show="(form.fgtpwdForm.email.$touched || form.fgtpwdForm.$submitted) && form.fgtpwdForm.email.$invalid">Email is invalid.</span>
      	</div>

		
		<div>	
          <a href="#" class="btn btn-login" ng-click="vm.sendDetails();">SEND MY DETAILS</a>
</div>
		<div class="text-center mTop10">
      	I Remember now !! <a href="javascript:void(0)" class="log-in-link" data-ng-click="vm.showSignInPopup();">LOG IN</a>
      </div>          
        </form>
      </div>
      <div class="modal-footer">
      	
      </div>
    </div>
  </div>
</div>
