<div id="resetforgotpwdModal" class="modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  ng-click="vm.closePopup();" aria-hidden="true">×</button>
        <h3 id="myModalLabel">RESET PASSWORD FOR YOUR ACCOUNT</h3>
      </div>
      <div class="modal-body">
      	
      	<global-messagebar message-type="vm.messageType" message-bar-message="vm.messageBarMessage"></global-messagebar>
        <form name="form.resetforgotpwdForm" class="col-sm-12" novalidate>
        	
       
      	<div class="form-group" style="margin-top:10px;"><label class="required">New Password</label><input class="form-control required" placeholder="Your New Password" type="password" ng-model="vm.resetforgotpwdForm.newPassword" name="newPassword" required>
          <span class="validation-err-msg" ng-show="(form.resetforgotpwdForm.newPassword.$touched || form.resetforgotpwdForm.$submitted) && form.resetforgotpwdForm.newPassword.$invalid">New Password is Required</span>
      	</div>
      	
      	<div class="form-group" style="margin-top:10px;"><label class="required">Confirm New Password</label><input class="form-control required" placeholder="Confirm New Password" type="password" ng-model="vm.resetforgotpwdForm.confirmNewPassword" confirm-password="vm.resetforgotpwdForm.newPassword" name="confirmNewPassword" required>
          <span class="validation-err-msg" ng-show="(form.resetforgotpwdForm.confirmNewPassword.$touched || form.resetforgotpwdForm.$submitted) && form.resetforgotpwdForm.confirmNewPassword.$error.required">Confirm New Password is Required</span>
          <span class="validation-err-msg" ng-show="(form.resetforgotpwdForm.confirmNewPassword.$touched || form.resetforgotpwdForm.$submitted) && form.resetforgotpwdForm.confirmNewPassword.$error.confirmpassword">New Password and Confirm New Password does not match</span>
      	</div>

		
		<div>	
          <a href="#" class="btn btn-login" ng-click="vm.sendDetails();">RESET PASSWORD</a>
</div>         
        </form>
      </div>
      <div class="modal-footer">
      	
      </div>
    </div>
  </div>
</div>
