<nav id="navbar" class="navbar navbar-fixed-top navbar-default navbar-inverse">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/images/lp_logo.png" height="60px;" alt="logo-image"></a>
				
				<div class="lp-select-city">
					<div class="lp-select-city-text" ng-click="vm.toggleDropdown()">
						<span class="lp-selected-city">{{vm.selectedCity}}</span>
						<span class="fa fa-fw fa-map-marker float-right location-icon"></span>
						</div>
					<ul class="lp-city-dropdown">
						<li data-ng-repeat = '(key, value) in vm.citiesList'><a href='javascript:void(0)' data-ng-click='vm.setCity($event)' data-id='{{key}}'>{{value}}</a></li>
					</ul>
				</div>
				
				</div><!-- Collect the nav links, forms, and other content for toggling -->
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<!--
					<ul class="nav navbar-nav">
											<li class="active h3"><a href="#"></a></li>
											</ul>-->
					
						<ul class="nav navbar-nav navbar-right lp-header-navbar-nav">
							<li class="city-select"></li>
							<!--<li><a class="" href="">DEALS</a></li>-->
							<li><a>SIGN IN</a></li>
							</ul></div>