<div class="faq-page">
	<div id="coverPage" class="generic-cover text-center faq-cover">
		
		<div class="cover-text vertical-center main-heading">Frequently Asked Questions</div>
	</div>
<!-- About LEPARTYCIOUS section starts -->
<section class="container text-center">
	<h2 class="theme-color">FAQs</h2>
	<div class="row">
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">why should i look for event vendors online?</p>
	<p class="text-left faq-answer-text text-justify">
		Today everyone is busy with their regular activities/work. So organising an event, lets say from daughter's birthday party to son's marriage, from parent's anniversary party to grandparent's retirement bash, it is not possible to meet every vendor and choose what is best. So LePartycious provides you an online platform to choose from numerous listed vendors whichever suits you the best according to your budget and requirement.
	</p>
	</div>
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">Can i book the vendor online from LePartycious website?</p>
	<p class="text-left faq-answer-text text-justify">
		Currently LePartycious is focusing on providing the maximum relevant information for each vendor listed, so that the information proves to be a choosing factor for any user.
For now, LePartycious does not give the facility to book your vendor online, but based on your feedback and suggestions we can always work towards providing this service.
	</p>
	</div>
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">Can LePartycious organise my event?</p>
	<p class="text-left faq-answer-text text-justify">
		Yes, LePartycious have its separate highly skilled Event Management team, which organizes and manages your event to make sure that you enjoy every single bit of your event without bothering about anything else. So you just have to call us or drop a mail and we will be there for you in no time.
	</p>
	</div>
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">I am a vendor and i want to get myself registered on LePartycious. How can i do so?</p>
	<p class="text-left faq-answer-text text-justify">
		Just send a mail to us @ lepartycious@gmail.com with your telephone number and address in mail body and within no time we will reach you and get you registered. The registration process is quite simple and absolutely free of cost.
	</p>
	</div>
	</div>
</section>

</div>