<div class="faq-page">
	<div id="coverPage" class="generic-cover text-center faq-cover">
		
		<div class="cover-text vertical-center main-heading">Frequently Asked Questions</div>
	</div>
<!-- About LE PARTYCIOUS section starts -->
<section class="container text-center">
	<h2 class="theme-color">FAQs</h2>
	<div class="row">
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">Why LePartycious?</p>
	<p class="text-left faq-answer-text text-justify">
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
	</div>
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">Why LePartycious?</p>
	<p class="text-left faq-answer-text text-justify">
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
	</div>
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">Why LePartycious?</p>
	<p class="text-left faq-answer-text text-justify">
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
	</div>
	<div class="col-xs-12">	
	<p class="theme-color text-left faq-question-text">Why LePartycious?</p>
	<p class="text-left faq-answer-text text-justify">
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
	</div>
	</div>
</section>

</div>