 <md-sidenav class="md-sidenav-right global-side-nav" md-component-id="right"
                 md-whiteframe="4" style="overflow: hidden;">
      <md-toolbar class="md-theme-indigo">
      <div class="md-toolbar-tools">
        <h1 class="global-nav-header">LE PARTYCIOUS</h1>
          <span flex></span>      
        <a href="javascript:void(0)" ng-click="vm.toggleRight()">
          <md-icon class="material-icons md-24" style="color: white;">
      			 	close
      	</md-icon>
        </a>
        </div>
      </md-toolbar>
      <md-content layout-margin layout-fill class="globalSideNav-main-content">
      	<div layout='column' layout-align="center start">
      		<div style="min-height: 30px;"></div>
      		<md-button class="text-start" href=''>
      			<md-icon class="material-icons md-light md-24">
      			 	perm_identity
      	</md-icon> sign in
      		</md-button>
      		<md-button class="text-start" href=''>
      			<md-icon class="material-icons md-light md-24">
      			 	arrow_upward
      			 </md-icon> sign up
      		</md-button>
      		<md-button class="text-start" href=''>
      			<md-icon class="material-icons md-light md-24">
      			 	call
      			 </md-icon> Contact Us
      		</md-button>
      		<md-button class="text-start"  href="/aboutus">
      			<md-icon class="material-icons md-light md-24">
      			 	sentiment_very_satisfied
      			 </md-icon> About Us
      		</md-button>
      		<md-button class="text-start"  href="/faq">
      			<md-icon class="material-icons md-light md-24">
      			 	question_answer
      			 </md-icon> FAQ
      		</md-button>
      		<md-button class="text-start"  href="/disclaimer">
      			<md-icon class="material-icons md-light md-24">
      			 	assignment
      			 </md-icon> Disclaimer
      		</md-button>
      		<md-button class="text-start hidden-xs" href="/privacy-policy">
      			<md-icon class="material-icons md-light md-24">
      			 	verified_user
      			 </md-icon> Privacy Policy
      		</md-button>
      		<md-button class="text-start hidden-xs" href="/terms-of-use">
      			<md-icon class="material-icons md-light md-24">
      			 	assignment_turned_in
      			 </md-icon> Terms Of Use
      		</md-button>
      		<div id="globalSideNavSocial">
      			<p class="connect">Connect With Us</p>
      <ul class="social">
         <li>
            <a target="_blank" href="https://www.facebook.com/LePartycious" title="facebook">
            <span class="fa fa-facebook"></span>
            </a>
         </li>
         <li>
            <a target="_blank" href="https://twitter.com/lepartycious" title="twitter">
            <span class="fa fa-twitter"></span>
            </a>
         </li>
         <li>
            <a target="_blank" href="https://www.youtube.com/channel/UC-VL9PRSgYJF9L_XDUrYpzA" title="youtube">
            <span class="fa fa-youtube"></span>
            </a>
         </li>
         <li>
            <a target="_blank" href="https://instagram.com/lepartycious" title="instagram">
            <span class="fa fa-instagram"></span>
            </a>
         </li>
      </ul>
      		</div>
      	</div>

      </md-content>
    </md-sidenav>