<div class="about-us-page">
	<div id="coverPage" class="generic-cover text-center about-us-cover">

		<div class="cover-text vertical-center main-heading">
			BRINGING SMILES ON FACES
		</div>
	</div>
	<!-- About LEPARTYCIOUS section starts -->
	<section class="container text-center">
		<h2 class="theme-color">ABOUT LEPARTYCIOUS</h2>
		<p class="text-left">
			Do you want to organize a surprise party on your anniversary but unable to do so because of your busy office hours?<br/>
			Do you wish to plan a birthday party for your kid but got confused whether it will lie in your budget or not?<br/>
			Want to enjoy your son's marriage without having any botheration to handle the event/guests yourself?<br/>
		</p>
		<p class="text-left">
			Planning for a party? Then you have come to the right place.
		</p>
		<p class="text-left">
			Tell us the way you want your party to be like and LePartycious will provide you with apt vendors that matches your

			requirements and budget.
			
			
		</p>
		<p class="text-left bolder">
			In short, just pick us for managing your event and LePartycious will make it a memorable one for you.
		</p>
		<p class="text-left">
			Established in October 2015, LePartycious is an online platform for organising events.Which provides you with the relevant

			information regarding different venues, caterers, photographers, decorators and much more. Its all about bringing all the vendors under

			one roof so that they coordinate well and work towards a success story of  an event.
			So precisely we are here to make your work convenient and hassel free by helping you choose from the diversified options

			available, that fits in your budget too.
		</p>
	</section>
	<!-- OUR TEAM section starts -->
	<section class="container text-center">
		<h2 class="theme-color">OUR TEAM</h2>
		<div class="row team-members">
			<div class="col-xs-4 col-sm-3 col-md-2 team-image">
				<img src="/images/blank_frame.jpg" alt="LePartycious-team"/>
			</div>
			<div class="col-xs-8 col-sm-6">
				<p class="team-name text-left">
					LOKPRIYA KALRA
				</p>
				<p class="team-designation text-left">
					Co-Founder
				</p>
				<p class="team-description text-left text-justify">
					He is a guy who is passionate about innovation and his diverse event management skills makes him a great event planner.
					Coming from the streets of Bikaner, he holds a bachelors degree in Technology and a Diploma in Event Management.
					He heads our Event Management team at LePartycious and knows how to make every event a great success story. 
					He is our Event Manager mainly concerned with managing and organising events and marketing for LePartycious.	</p>
			</div>
		</div>
		<div class="row team-members">
			<div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-4 team-image">
				<img src="/images/blank_frame.jpg" alt="LePartycious-team"/>
			</div>
			<div class="col-xs-8 col-sm-6">
				<p class="team-name text-left">
					MOHIT SINGLA
				</p>
				<p class="team-designation text-left">
					Co-Founder
				</p>
				<p class="team-description text-left text-justify">
					Possessing an obsession for technology, he is a guy who is a Techie with an experience of 5+ years with some of the renowned multinationals.
					He is our Tech Guru mainly concerned with technologies used and to be acquired for a better future so that we can become the best.
				</p>
			</div>
		</div>
		<div class="row team-members">
			<div class="col-xs-4 col-sm-3 col-md-2 team-image">
				<img src="/images/blank_frame.jpg" alt="LePartycious-team"/>
			</div>
			<div class="col-xs-8 col-sm-6">
				<p class="team-name text-left">
					ANKIT BANSAL
				</p>
				<p class="team-designation text-left">
					Co-Founder
				</p>
				<p class="team-description text-left text-justify">
					Public opinions, individual reactions &amp; feedbacks, these are the only things that matter to him.
					He is a guy that analyzes the responses about LePartycious and works for making the product better keeping an eye on the rapidly changing market trends.
				</p>
			</div>
		</div>
		<div class="row team-members">
			<div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-4 team-image">
				<img src="/images/blank_frame.jpg" alt="LePartycious-team"/>
			</div>
			<div class="col-xs-8 col-sm-6">
				<p class="team-name text-left">
					SHIVANI JOSHI
				</p>
				<p class="team-designation text-left">
					Product Designer
				</p>
				<p class="team-description text-left text-justify">
					Shivani is an artist by heart. Her love and passion for arts drives her to come up with great innovative ideas.
					Her unorthodox way of thinking makes her different from others when it comes to designing and arts.
					She is our Product Designer and consistently works for giving our product a cool look. 
				</p>
			</div>
		</div>
	</section>
</div>