<div class="about-us-page">
	<div id="coverPage" class="generic-cover text-center about-us-cover">
		
		<div class="cover-text vertical-center main-heading">BRINGING SMILES ON FACES</div>
	</div>
<!-- About LE PARTYCIOUS section starts -->
<section class="container text-center">
	<h2 class="theme-color">ABOUT LE PARTYCIOUS</h2>
	<p class="text-left">
		Le Partycious was established in October, 2015 with a single motto of
		bringing smiles on the faces of people. At Le Partycious, we are focused
		on providing Hospitality and Event services with the highest level of customer
		satisfaction - we will do everything we can to meet your expectations.
		With a variety of offerings to choose from, we're sure you will be happy working with us.
	</p>
</section>
<!-- OUR TEAM section starts -->
<section class="container text-center">
	<h2 class="theme-color">OUR TEAM</h2>
	<div class="row team-members">
		<div class="col-xs-4 col-sm-3 col-md-2 team-image">
			<img src="" alt="image"/>
		</div>
		<div class="col-xs-8 col-sm-6">
			<p class="team-name text-left">LOKPRIYA KALRA</p>
			<p class="team-designation text-left">Co-Founder</p>
			<p class="team-description text-left text-justify">Coming all the way from Bikaner, Lokpriya has skills for managing an event efficiently
				and successfully. Being an engineer, his tech brain helps to bring innovation in event management, hence redefining the term in a positive way. </p>
		</div>
	</div>
	<div class="row team-members">
		<div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-4 team-image">
			<img src="" alt="image"/>
		</div>
		<div class="col-xs-8 col-sm-6">
			<p class="team-name text-left">LOKPRIYA KALRA</p>
			<p class="team-designation text-left">Co-Founder</p>
			<p class="team-description text-left text-justify">Coming all the way from Bikaner, Lokpriya has skills for managing an event efficiently
				and successfully. Being an engineer, his tech brain helps to bring innovation in event management, hence redefining the term in a positive way. </p>
		</div>
	</div>
	<div class="row team-members">
		<div class="col-xs-4 col-sm-3 col-md-2 team-image">
			<img src="" alt="image"/>
		</div>
		<div class="col-xs-8 col-sm-6">
			<p class="team-name text-left">LOKPRIYA KALRA</p>
			<p class="team-designation text-left">Co-Founder</p>
			<p class="team-description text-left text-justify">Coming all the way from Bikaner, Lokpriya has skills for managing an event efficiently
				and successfully. Being an engineer, his tech brain helps to bring innovation in event management, hence redefining the term in a positive way. </p>
		</div>
	</div>
</section>
</div>